<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page | Side-Project</title>
</head>

        <header class="nav">
        <input type="checkbox" id="nav-check">
        <a routerLink="/home" class="logo">TeaBob</a>
        <ul>
            <li routerLink="/home"><a routerLinkActive="active">Home</a></li>
            <li routerLink="/snacks"><a routerLinkActive="active">Menu</a></li>
            <li routerLink="/cart"><a routerLinkActive="active" >Cart<span matBadge="{{cartCounter}}" matBadgeOverlap="false"></span></a></li>
            <!-- <li routerLink="/order"><a routerLinkActive="active">Orders</a></li> -->
            <li routerLink="/status"><a routerLinkActive="active">Order Page</a></li>
            <li routerLink="/profile"><a routerLinkActive="active">Profile</a></li> 
            <li routerLink="/dashboard"><a routerLinkActive="active">Dashboard</a></li> 
            <li routerLink="/add-product"><a routerLinkActive="active">Add Product</a></li>
            <li routerLink="/manage-product"><a routerLinkActive="active">Manage Product</a></li>

            <li routerLink="/category"><a routerLinkActive="active">Category</a></li> 

            <li (click)="logout()"><a>Logout</a></li>
        </ul>

        <!-- routerLinkActive="active"-->

        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    </header>



    

</html>
