@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header {
    background-color: #161e25;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000000;
}


.logo {
    position: relative;
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500px;
}


#nav-check,
.nav-btn {
    display: none;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #221f23 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #221f23;
    border-radius: 0px;
    border: 3px solid #ffffff;
  }

  .active{
      color: #4c88e2;
      font-weight: bold;
  }
  .container{
      background-color: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      margin-top: 100px;
  }
  .product-container{
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

  }
  .product-container > div{
      margin: 10px;
  }
  .prodcard{
      width: 250px;
      height: 300px;
      background-color: #f9f9f9;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  .prodcard:hover{
    -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  .image-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img{
      max-width: 95%;
      max-height: 95%;
      border-radius: 5px;
  }
  .info{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info p span{
    display: block;
    justify-content: center;
    align-items: center;
  }


@media (max-width:600px) {
    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }


    .nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #000;
    }

    .nav>ul {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 70px;
        left: 0px;
    }

    .nav>ul>li {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~ul {
        height: 0px;
    }

    .nav>#nav-check:checked~ul {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

   

    header{
     padding: 25px 20px;
    }


    .banner {
        width: 100%;
    }
    .product-container{
        flex-direction: column;
        align-items: center;
    }
    .container{
        height: auto;
    }
}