

      
    <div class="container">

      <div class="status-container">
          <div class="status-title">User Profile</div>
      <!-- 
          <div class="profile-image">
      
          </div> -->
      
          <div class="user-details">
          <div class="input-box">
      
              <span class="details">Name</span>
              <input disabled type="text" placeholder="">
          </div>
          <div class="input-box">
      
              <span class="details">Price</span>
              <input disabled type="text" placeholder="">
          </div>
          <div class="input-box">
              <span class="details">Image</span>
              <input disabled type="text" placeholder="">
          </div>
          <div class="input-box">
              <span class="details">Featured</span>
              <input disabled type="number" class="input-number" placeholder="">
          </div>
          <div class="input-box">
              <span class="details">Active</span>
              <input disabled type="text" placeholder="">
          </div>
      
          
          <button class="button">Update Profile</button>
          <!-- <button (click)="statusModal()" class="button">Change Password</button> -->
      
          
      </div>
      </div>
      </div>
      