.reg{
    
    width: 25%;
    height: 80vh;  
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 7%;
    margin-top: 5%;
}
.reg span{
    display: block;
}

.imagecontainer{
    width: 50%;
    height: 70vh;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 7.5%;
    margin-left: 7%;
}

.userinput{
    height: 6vh;
    width: 100%;
    font-size: 20px;
    border-radius: 90px;
}
.loginbtn{
    margin-left: 3px;
    height: 6vh;
    width: 100%;
    font-size: 20px;
    border-radius: 90px;
}
