<app-landing-nav></app-landing-nav>

<div class="login-body">


    
    <div class="reg">
        <div class="teabob-logo">
            <img src="./assets/tealogopng.png" alt="">
        </div>
        <div class="register-container">

            <div class="register-title">Welcome to TeaBob!</div>

        <div class="user-details">
            <div class="input-box">
                <span class="details">Email Address</span>
                <input type="text" placeholder="Email Address" [(ngModel)]="user_uname">
            </div>
            
            <div class="input-box">
                <span class="details">Password</span>
                <input [type]="show_button ? 'text' : 'password'" placeholder="Password" [(ngModel)]="user_pword" >
                
            </div>
            <div class="showpass">
               
                <input type="checkbox" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" name="showpassword" (click)="showPassword()">
                <label for="showpassword"> Show Password</label>
            </div>
            <div class="button-container">
                <button class="button" (click)="loginUser()">Login</button>

            </div>
   
                
        </div>
    </div>
    </div>
</div>