

<mat-sidenav-container autosize>

    <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <img class="user-profile" src="./assets/tealogopng.png" style="  -webkit-filter: invert(100%);
        filter: invert(100%);">
      <br>
      <mat-divider [vertical]="false"></mat-divider>
  
      <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->
  
      <!-- ADMIN BUTTONS -->
  
      <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
        <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
      </button>
      <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
        <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
      </button>
      <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
        <mat-icon>add_circle</mat-icon>&nbsp; Add Product
      </button>
      <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Product
      </button>
      <button mat-button class="button" routerLink="/manage-addons" *ngIf ="user_role == '0'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Manage AddOns
      </button>
      <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/snacks" routerLinkActive="selected">
        <mat-icon>comment</mat-icon>&nbsp; Comments 
      </button>
      <button mat-button class="button" routerLink="/history" *ngIf ="user_role == '0'">
        <mat-icon>history</mat-icon>&nbsp; History
      </button>
      <button mat-button class="button" routerLink="/manage-admin" *ngIf ="user_role == '0'">
        <mat-icon>supervised_user_circle</mat-icon>&nbsp; Admins
      </button>
      <button mat-button class="button" routerLink="/manage-users" *ngIf ="user_role == '0'">
        <mat-icon>supervisor_account</mat-icon>&nbsp; Manage Users
      </button>
      <button mat-button class="button" routerLink="/manage-driver" *ngIf ="user_role == '0'" routerLinkActive="selected">
        <mat-icon>motorcycle</mat-icon>&nbsp; Riders
      </button>
      <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '0'">
        <mat-icon>account_box</mat-icon>&nbsp; Profile
      </button>
      <button mat-button class="button" routerLink="/sales" *ngIf ="user_role == '0'">
        <mat-icon>receipt</mat-icon>&nbsp; Sales Report
      </button>
     
      <button mat-button class="button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
      </button>
  
      <!-- USER BUTTONS -->
  
      <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/home" routerLinkActive="selected">
        <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
      </button>
      <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
        <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
      </button>
      <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
      </button>
      <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
        <mat-icon>account_box</mat-icon>&nbsp; Profile
      </button>
  
  
  
    </mat-sidenav>
    <!-- NAVBAR -->
    <div class="navbar">
      <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
          aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
          <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
          <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
        </button>
        <h1 style="color: #424242; font-size: 16px;">Riders</h1>
  
        <span class="example-spacer"></span>
  
      </mat-toolbar>
  
      <!-- END OF SIDENAV AND TOOLBAR CODE  -->
  
  
      <!-- THIS IS YOUR CONTENT CONTAINER -->
      <div class="container">
  
        <div class="dashboard-bottom">
          
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-4">Driver ID</div>
                <div class="col col-4">Driver Name</div>
                <div class="col col-4">Driver Email</div>
                <div class="col col-4">Driver Status</div>
                <div class="col col-4">Action</div>
              </li>
              <button (click)="openModal()" class="add-driv" ><mat-icon>add_circle</mat-icon>&nbsp;&nbsp; Driver</button><br><br>
              <li class="table-row" *ngFor = "let driver of driver">
                <div class="col col-3" data-label="Driver ID" >{{driver.driver_id}}</div>
                <div class="col col-3" data-label="Driver Name" >{{driver.driver_name}}</div>
                <div class="col col-3" data-label="Driver Email" >{{driver.driver_email}}</div>
                <div class="col col-3" *ngIf ="driver.driver_status == '0'"data-label="Driver Status" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                Idle</div>
                <div class="col col-3" *ngIf ="driver.driver_status == '1'"data-label="Driver Status" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                Busy</div>

                <div class="col col-3" data-label="Action">
                  <button class="card-order-action" mat-raised-button color="primary" class="deletebutton" (click)="delDriver(driver.driver_id)">
                    <mat-icon>delete</mat-icon></button>
                </div>
              </li>
            </ul>
        
          </div>
  
      </div>
    </div>
  </mat-sidenav-container>
  
      
  