
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.dashboard-top {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboard-top > div {
  margin: 10px;
}

.dashboard-card {
  width: 24%;
  height: 150px;
  border-radius: 7px;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: row;
}

.dashboard-card-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-card-left img {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.dashboard-card-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-card-right p span {
  display: block;
}

.dashboard-card-right p span:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
}

.dashboard-bottom {
  
  width: 100%;
  height: 70%;
  max-height: 550px;
  
}


.container2{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
table, td, th {  
  border: 0px solid rgb(160, 160, 160);
  text-align: left;
}

table {
  margin: auto;
  margin-bottom: 200px;
  border-collapse: collapse;
  width: 90%;
  border-top: 1px solid rgb(187, 184, 184);
  
}

th, td {
  padding: 15px;
}


.toolbar {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  overflow: hidden;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #404040;
}



mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
  background-color: #f9f9f9;
}

mat-sidenav {
  background-color: #4B1F0E;
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 100%;

}

mat-card {
  overflow: auto;
}

.dashboardcontent {
  padding: 35px;
}

.sidenavbar {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


.button {
  width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  flex-direction: row;
}

.button mat-icon {
  font-size: 22px;
}

.selected {
  background-color: #794028;
  color: #ffffff;
}

.user-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.responsive-table{
  padding-right: 50px;
}

.responsive-table   li {
border-radius: 3px;
padding: 25px 30px;
display: flex;
justify-content: space-between;
margin-bottom: 15px;
}

.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
  flex-basis: 25%;
}
.col-2 {
  flex-basis:25%;
}
.col-3 {
  flex-basis: 25%;

}
.col-4 {
  flex-basis: 25%;
}


.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.add-driv{
  float: right;
  width: 150px;
  height: 35px;
  border-radius: 60px;
  text-align: center;
  background-color: #4B1F0E;
  color: white;
  font-size: medium;
}

.add-driv:hover{

  background-color: #e9a387;
  color:black;
}


@media only screen and (max-width:480px) {
mat-sidenav {
  width: 200px;
  border-right: none;
}

h1 {
  display: none;
}

#calendar {
  font-size: 12px;
}

.calen {
  width: 10px;
  height: 10px;
}

.user-container {
  justify-content: center;
}



.container-title-left {
  width: 100%;
}

.user-card {
  width: 320px;
}

.top {
  width: 320px;
}

.toolbar {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

}

@media only screen and (min-width: 481px) and (max-width:768px) {
  mat-sidenav {
      width: 200px;
      border-right: none;
    }
  
    h1 {
      display: none;
    }
  
    #calendar {
      font-size: 12px;
    }
  
    .calen {
      width: 10px;
      height: 10px;
    }
  
    .user-container {
      justify-content: flex-start;
      align-items: flex-start;
  }

  
  .container-title-left {
      width: 100%;
  }
  
  .user-card {
      width: 350px;
  }
  
  .top {
      width: 350px;
  }
  
  .toolbar {
      background-color: #f9f9f9;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      position: fixed;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
      width: 100%;
    }
}   




