
<mat-sidenav-container autosize>

    <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <img class="user-profile" src="/assets/tealogopng.png" style="  -webkit-filter: invert(100%);
        filter: invert(100%);">
      <br>
      <mat-divider [vertical]="false"></mat-divider>
  
      <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->
  
      <!-- ADMIN BUTTONS -->
  

      <!-- <button mat-button class="button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
      </button> -->
  
      <!-- USER BUTTONS -->
  
      <!-- <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/home" routerLinkActive="selected">
        <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
      </button>
      <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
        <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
      </button>
      <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
      </button>
      <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
        <mat-icon>account_box</mat-icon>&nbsp; Profile
      </button> -->
  
  
  
    </mat-sidenav>
    <!-- NAVBAR -->
    <div class="navbar">
      <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
          aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
          <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
          <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
        </button>
        <h1 style="color: #424242; font-size: 16px;">Terms and Condition</h1>
  
        <span class="example-spacer"></span>
  
      </mat-toolbar>
<div class="container">
    <div class="middle-container">
        <div class="terms-title">
            <p>Terms and Conditions</p>

        </div>

        <div class="terms-content">
          <div class="content">
            <p>Published: 09 June 2022</p>
            <p>These Terms of Use (“Terms”) govern your use of the websites and mobile applications provided by Teabob (or referred to as “us”) (collectively the “Platforms”). Please read these Terms carefully. By accessing and using the Platforms, you agree that you have read, understood and accepted the Terms including any additional terms and conditions and any policies referenced herein, available on the Platforms. If you do not agree or fall within the Terms, please do not use the Platforms.</p>

             <p>The Platforms may be used by (i) natural persons who have reached 18 years of age and (ii) corporate legal entities, e.g companies. Where applicable, these Terms shall be subject to country-specific provisions as set out herein.</p>
             <p>Users below the age of 18 must obtain consent from parent(s) or legal guardian(s), who by accepting these Terms shall agree to take responsibility for your actions and any charges associated with your use of the Platforms and/or purchase of Goods. If you do not have consent from your parent(s) or legal guardian(s), you must stop using/accessing the Platforms immediately.</p>
          
             <strong>Who We Are</strong>
             <p>Teabob is a small food business residing in the Municipality of Floridablanca, Pampanga. The business started on the month of July, 2020. The business owner, Mrs. Loreta Balatbat, decided to start the business in the said year to earn revenue in the midst of the pandemic. Teabob offers an array of food items, ranging from refreshing milk teas, to delicious hearty foods like shawarma and nachos. Since then, the business has been well-known to serve delicious food to their customers. And now it is even better, because Teabob has now come online and is ready to take your order!</p>
             <strong>What We Do</strong>
             <p>Through our Platform, Teabob links you to the Teabob business for you to order a variety of goods including Milk tea and snacks such as nachos and tacos, and miscellaneous food items (hereinafter collectively referred to as "Goods") to be delivered to you. When you place an order from us (“Order”), Teabob acts as a platform on behalf of that Teabob to facilitate, process and conclude the order and subsequently for Teabob to deliver your Order to you.</p>

             <strong>Use of the Platform and Teabob Account</strong>
             <p> You will need to register for a Teabob account for you to use the Platform. When you register for a Teabob account we will ask you to provide your personal information including a valid email address, a mobile phone number and a unique password. To purchase an Order, depending on which payment method you opt for, you may need to provide us with your credit card details. Your unique password should not be shared with anyone and you agree to keep it secret at all times. You are solely responsible for keeping your password safe. Save for cases of fraud or abuse which are not your fault, you accept that all Orders placed under your Teabob account are your sole responsibility.<br><br>
              Teabob shall not be liable for Orders that encounter delivery issues due to incomplete, incorrect or missing information provided by you. You are obliged to provide information that is complete, accurate and truthful for the proper processing of the Order, including your delivery address and contact information.<br><br>
              If you wish to delete your Teabob account, please send us an email requesting the same. We may restrict, suspend or terminate your Teabob account and/or use of the Platforms, if we reasonably believe that:<br><br>
             someone other than you is using your Teabob account; or<br><br>
             where you are suspected or discovered to have been involved in any activity or conduct that is in breach of these Terms, our policies and guidelines, or involved in activity or conduct which we deem in our sole discretion to be an abuse of the Platforms.<br><br>
             </p>

             <strong>Orders</strong>
             <p>Orders

              When you place an Order with Teabob, Teabob will confirm your order by sending you a confirmation email containing the Order receipt. Where applicable, Orders will include delivery fees and any applicable tax (e.g. goods and services tax, value-added tax, etc.).<br><br>
              
              Minimum Order Value - Teabob requires a minimum order value (“MOV”) before an Order can be placed and delivered to you. Where an applicable Order fails to meet the MOV, you will have the option of paying the difference to meet the MOV or to add more Goods to your Order.
              <br><br>
              Special Instructions – Teabob and the Teabob (as the case may be) reasonably endeavour to comply with your special instructions for an Order. However in some cases where this is not feasible, possible or commercially reasonable, Teabob and/or the Teabob reserve the right to proceed to prepare the Order in accordance with standard operating procedures. Neither Teabob nor the Teabob shall be responsible to replace or refund an Order which does not conform to special instructions provided by you.
              <br><br>
              Allergens – Teabob is not obligated to provide ingredient information or allergen information on the Platforms. Further, Teabob does not guarantee that the Goods sold by Teabobs are free of allergens. If you have allergies, allergic reactions or dietary restrictions and requirements, please contact the Teabob before placing an Order on our Platforms.
              <br><br>
             Please note that your Order may be subject to additional terms and conditions provided by Teabob.
             <br><br>
              Prior to placing the Order
              <br><br>
              (i) You are required to provide the delivery address in order for the Platform to display the Teabobs available in your delivery area.
              <br><br>
              (ii) Once you select a Teabob, you will be taken to that Teabob’s menu page for you to select and add your Goods to the cart.
              <br><br>
              Placing the Order
              <br><br>
              To complete an Order, please follow the onscreen instructions after clicking ‘Checkout’. You may be required to provide additional details for us to complete your Order. You are required to review and confirm that all the information you provide, including the amounts, delivery details, personal details, payment information, and voucher codes (if applicable) is true, accurate and complete before you click “PLACE ORDER”. An Order is successfully placed when you receive an email confirmation containing your Order receipt from us.
              <br><br>
              Cancelling an Order
              <br><br>
              Please contact us immediately via our mobile number if you wish to cancel your Order after it has been placed. You have the right to cancel your Order provided a Teabob has not yet accepted your Order.
              <br><br>
              Refunds
              <br><br>
              (i) Online Payment Orders
              <br><br>
              You have the right to a refund for a cancelled Order only if a Teabob has not yet accepted your Order. Should you still decide to cancel your Order after it has been accepted by the Teabob, you understand that no refunds (whether in whole or in part) will be issued to you and you forfeit the delivery of your cancelled Order.
              <br><br>
              (ii) Cash-on-Delivery Orders
              <br><br>
              You have the right to cancel your Order only if a Teabob has not yet accepted your Order. Should you still decide to cancel your Order after it has been accepted by the Teabob, you understand that you shall forfeit the delivery of your cancelled Order and cash-on-delivery may be removed from your list of available payment methods for your future orders.</p>
              <br><br>
            </div>
        </div>

        <div class="terms-title">
          <p>Data Privacy Policy</p>

      </div>


        <div class="terms-content">
            <div class="content">
            <p>This Privacy Policy describes Our policies and procedures on the collection,
                use and disclosure of Your information when You use the Service and tells You
                about Your privacy rights and how the law protects You.</p>
                <br>
                
               <p> We use Your Personal data to provide and improve the Service. By using the
                Service, You agree to the collection and use of information in accordance with
                this Privacy Policy.
            <br>
             <p>   Interpretation and Definitions
                 <br>
                ==============================
            </p>
            <br>
            
                <p>
                Collecting and Using Your Personal Data  <br>
                =======================================
                <br>
                <br>
                Types of Data Collected  <br>
                -----------------------
                <br>
                <br>
                Personal Data  <br>
                ~~~~~~~~~~~~~
                <br>
                <br>
                While using Our Service, We may ask You to provide Us with certain personally
                identifiable information that can be used to contact or identify You.
                Personally identifiable information may include, but is not limited to:
                <br>
                <br>
                
                  * Email address
                  <br>
                <br>
                
                  * First name and last name
                  <br>
                  <br>
                  * Phone number
                  <br>
                  <br>
                  * Address, State, Province, ZIP/Postal code, City
                  <br>
                  <br>
                  * Usage Data
                  <br>
                  <br>
                </p>

                <p>
                Usage Data  
                <br>
                ~~~~~~~~~~
            </p>
            
                
            <p>Usage Data is collected automatically when using the Service.</p>
            
                
             <p>   Usage Data may include information such as Your Device's Internet Protocol
                address (e.g. IP address), browser type, browser version, the pages of our
                Service that You visit, the time and date of Your visit, the time spent on
                those pages, unique device identifiers and other diagnostic data.</p>
                <br>
              <p>  When You access the Service by or through a mobile device, We may collect
                certain information automatically, including, but not limited to, the type of
                mobile device You use, Your mobile device unique ID, the IP address of Your
                mobile device, Your mobile operating system, the type of mobile Internet
                browser You use, unique device identifiers and other diagnostic data.</p>
                <br>
             <p>   We may also collect information that Your browser sends whenever You visit our
                Service or when You access the Service by or through a mobile device.
            </p>
            <br>
              <p>  Information Collected while Using the Application  
                <br>
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            </p>
            <p>
                While using Our Application, in order to provide features of Our Application,
                We may collect, with Your prior permission:</p>
                <ul>
                    <li>  Information regarding your location</li>
                </ul>
                
                
               <p> We use this information to provide features of Our Service, to improve and
                customize Our Service. The information may be uploaded to the Company's
                servers and/or a Service Provider's server or it may be simply stored on Your
                device.</p>
                <br>
               <p> You can enable or disable access to this information at any time, through Your
                Device settings.
            </p>
            <br>
            <p>
                Use of Your Personal Data  
                <br>
                -------------------------
            </p>
               <p> The Company may use Personal Data for the following purposes:</p>
                <ul>
                  <li> To provide and maintain our Service , including to monitor the usage of
                    our Service.</li>
                
                <li>   To manage Your Account: to manage Your registration as a user of the
                    Service. The Personal Data You provide can give You access to different
                    functionalities of the Service that are available to You as a registered
                    user.
                </li>
                <li> For the performance of a contract: the development, compliance and
                    undertaking of the purchase contract for the products, items or services
                    You have purchased or of any other contract with Us through the Service.
                </li>
                <li>   To contact You: To contact You by email, telephone calls, SMS, or other
                    equivalent forms of electronic communication, such as a mobile
                    application's push notifications regarding updates or informative
                    communications related to the functionalities, products or contracted
                    services, including the security updates, when necessary or reasonable for
                    their implementation.
                </li>
                <li>   To provide You with news, special offers and general information about
                    other goods, services and events which we offer that are similar to those
                    that you have already purchased or enquired about unless You have opted
                    not to receive such information.
                </li>
                <li>  To manage Your requests: To attend and manage Your requests to Us.
                </li>
                <li>  For business transfers: We may use Your information to evaluate or conduct
                    a merger, divestiture, restructuring, reorganization, dissolution, or
                    other sale or transfer of some or all of Our assets, whether as a going
                    concern or as part of bankruptcy, liquidation, or similar proceeding, in
                    which Personal Data held by Us about our Service users is among the assets
                    transferred.
                </li>
                <li>   For other purposes : We may use Your information for other purposes, such
                    as data analysis, identifying usage trends, determining the effectiveness
                    of our promotional campaigns and to evaluate and improve our Service,
                    products, services, marketing and your experience.
                    </li>
                </ul>
                
               <p> We may share Your personal information in the following situations:</p>
                <ul>
                    
                <li>   With Service Providers: We may share Your personal information with
                    Service Providers to monitor and analyze the use of our Service, to
                    contact You.</li>
                    <li>  For business transfers: We may share or transfer Your personal information
                    in connection with, or during negotiations of, any merger, sale of Company
                    assets, financing, or acquisition of all or a portion of Our business to
                    another company.</li>
                    <li>   With Affiliates: We may share Your information with Our affiliates, in
                    which case we will require those affiliates to honor this Privacy Policy.
                    Affiliates include Our parent company and any other subsidiaries, joint
                    venture partners or other companies that We control or that are under
                    common control with Us.</li>
                    <li>   With business partners: We may share Your information with Our business
                    partners to offer You certain products, services or promotions.</li>
                    <li>  With other users: when You share personal information or otherwise
                    interact in the public areas with other users, such information may be
                    viewed by all users and may be publicly distributed outside.</li>
                    <li>   With Your consent : We may disclose Your personal information for any
                    other purpose with Your consent.</li>
                </ul>

                <p>
                Retention of Your Personal Data  <br>
                -------------------------------</p>
          
               <p> The Company will retain Your Personal Data only for as long as is necessary
                for the purposes set out in this Privacy Policy. We will retain and use Your
                Personal Data to the extent necessary to comply with our legal obligations
                (for example, if we are required to retain your data to comply with applicable
                laws), resolve disputes, and enforce our legal agreements and policies.</p>
                
                <p>  The Company will also retain Usage Data for internal analysis purposes. Usage
                Data is generally retained for a shorter period of time, except when this data
                is used to strengthen the security or to improve the functionality of Our
                Service, or We are legally obligated to retain this data for longer time
                periods.</p>
                
                <p>  Transfer of Your Personal Data  <br>
                ------------------------------</p>
                
                <p>Your information, including Personal Data, is processed at the Company's
                operating offices and in any other places where the parties involved in the
                processing are located. It means that this information may be transferred to —
                and maintained on — computers located outside of Your state, province, country
                or other governmental jurisdiction where the data protection laws may differ
                than those from Your jurisdiction.</p>
                
                <p>Your consent to this Privacy Policy followed by Your submission of such
                information represents Your agreement to that transfer.</p>
                
                <p>The Company will take all steps reasonably necessary to ensure that Your data
                is treated securely and in accordance with this Privacy Policy and no transfer
                of Your Personal Data will take place to an organization or a country unless
                there are adequate controls in place including the security of Your data and
                other personal information.</p>
                
                <p> Disclosure of Your Personal Data  <br>
                --------------------------------</p>
                
                <p> Business Transactions  <br>
                ~~~~~~~~~~~~~~~~~~~~~
            </p>
        <p> If the Company is involved in a merger, acquisition or asset sale, Your
                Personal Data may be transferred. We will provide notice before Your Personal
                Data is transferred and becomes subject to a different Privacy Policy.
                </p>
                <p> Law enforcement  <br>
                ~~~~~~~~~~~~~~~</p>
                
                <p>  Under certain circumstances, the Company may be required to disclose Your
                Personal Data if required to do so by law or in response to valid requests by
                public authorities (e.g. a court or a government agency).</p>
                
                <p> Other legal requirements  <br>
                ~~~~~~~~~~~~~~~~~~~~~~~~</p>
                
                <p> The Company may disclose Your Personal Data in the good faith belief that such
                action is necessary to:</p>
                <ul>
                    <li>Comply with a legal obligation</li>
                    <li>Protect and defend the rights or property of the Company</li>
                    <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
                    <li>Protect the personal safety of Users of the Service or the public</li>
                    <li>Protect against legal liability</li>
                </ul>
       
                
              <p>  Security of Your Personal Data  <br>
                ------------------------------</p>
                
                <p> The security of Your Personal Data is important to Us, but remember that no
                method of transmission over the Internet, or method of electronic storage is
                100% secure. While We strive to use commercially acceptable means to protect
                Your Personal Data, We cannot guarantee its absolute security.
                </p>
                <p> Children's Privacy  <br>
                ==================</p>
                
                <p> Our Service does not address anyone under the age of 13. We do not knowingly
                collect personally identifiable information from anyone under the age of 13.
                If You are a parent or guardian and You are aware that Your child has provided
                Us with Personal Data, please contact Us. If We become aware that We have
                collected Personal Data from anyone under the age of 13 without verification
                of parental consent, We take steps to remove that information from Our
                servers.</p>
                
                <p>If We need to rely on consent as a legal basis for processing Your information
                and Your country requires consent from a parent, We may require Your parent's
                consent before We collect and use that information.</p>
                
                <p> Links to Other Websites  <br>
                =======================</p>
                
                <p>Our Service may contain links to other websites that are not operated by Us.
                If You click on a third party link, You will be directed to that third party's
                site. We strongly advise You to review the Privacy Policy of every site You
                visit.</p>
                
                <p>We have no control over and assume no responsibility for the content, privacy
                policies or practices of any third party sites or services.
                </p>
               
                <p> Changes to this Privacy Policy  <br>
                ==============================</p>
                
                <p>  We may update Our Privacy Policy from time to time. We will notify You of any
                changes by posting the new Privacy Policy on this page.</p>
                
                <p>We will let You know via email and/or a prominent notice on Our Service, prior
                to the change becoming effective and update the "Last updated" date at the top
                of this Privacy Policy.</p>
                
                <p> You are advised to review this Privacy Policy periodically for any changes.
                Changes to this Privacy Policy are effective when they are posted on this
                page.</p>
                
                <p> Contact Us  <br>
                ==========</p>
                
                <p> If you have any questions about this Privacy Policy, You can contact us:</p>
                <ul>
                    <li>By email: loretabalatbat00@gmail.com</li>
                    <li> By phone number: 0995990629</li>
                </ul>
               
              
        </div>
        </div>
        <div class="confirm-but">
            <button class="accept" mat-raised-button (click)="accept()">I accept</button>

        </div>
    </div>
    
</div>



         