.container{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  margin-top: 40px;
}

.dib {
margin-top: 100px;
height: 100px;
display: grid;
justify-content: center;
align-items: center;
position: relative;
}
.dib h1 {
  font-size: 40px;
  padding:  20px 0;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product-container{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}
.product-container > div{
  margin: 10px;
}
.prodcard{
  width: 250px;
  height: auto;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.prodcard:hover{
-webkit-animation-name: pulse;
animation-name: pulse;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes pulse {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
50% {
-webkit-transform: scale3d(1.05, 1.05, 1.05);
transform: scale3d(1.05, 1.05, 1.05);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@keyframes pulse {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
50% {
-webkit-transform: scale3d(1.05, 1.05, 1.05);
transform: scale3d(1.05, 1.05, 1.05);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
.image-container{
width: 100%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}
.image-container img{
  max-width: 95%;
  max-height: 95%;
  border-radius: 5px;
}
img{
height: 300px;
}
.info{
width: 100%;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.info {
display: block;
justify-content: center;
align-items: center;
}
.info p{
padding-left: 8px;
}
.checkout-but{
display: grid;
justify-content: flex-end;
align-items: flex-end;
padding-right: 50px;

}
button:hover{
cursor: pointer;
background: #efc3a4;
color:rgb(0, 0, 0);
}
button {
border: none;
outline: 0;
padding: 12px;
color: #ffffff;
background: #4B1F0E ;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}
.addons-btn{
background-color: rgb(155, 10, 10);
width: 40px;
padding: 5px 5px;
margin-right: 5px;
border-radius: 10px;
}
.item-content{
display: flex;
justify-content: space-between;
height: 50px;
align-items: center;
border-top: 1px solid rgb(180, 180, 180);
}

@media (max-width:600px) {
  .product-container{
      flex-direction: column;
      align-items: center;
  }
  .container{
      height: auto;
  }
  img{
    height: 200px;
  }
    
.dib {
margin-top: 100px;
height: 100px;
display: grid;
justify-content: center;
align-items: center;
position: relative;
}
.dib h1 {
  font-size: 40px;
  padding:  20px 0;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info{
width: 100%;
height: 20%;
display: flex;
justify-content: center;
align-items: center;
}
.info {
display: block;
justify-content: center;
align-items: center;
}
.checkout-but{
display: flex;

}
.checkout-but{
display: grid;
justify-content: flex-end;
align-items: flex-end;
padding-right: 50px;
}
}