<app-navbar></app-navbar>
<div class="dib">
    <h1>Food Cart</h1>

</div>

<div class="container">
    <div class="product-container">
    <div class="prodcard" *ngFor="let cart of cart">
        <div class="image-container">
            <img src="{{cart.image_name}}" alt="">
        </div>
        <div class="info">

            <p>  {{cart.title}}</p>  
            <p> {{cart.description}} </p> 
            <p> {{cart.price}} </p> 
            <p>{{totalamount}}</p>
          
            <button (click)="delCart(cart.cart_id);">Delete to Cart</button>
            
        </div>
    </div>
</div>
</div>

<div class="checkout-but">
    <button (click)="checkOutAll();">Check Out</button>
</div>