@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.toolbar {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  overflow: hidden;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #404040;
}



mat-sidenav-container,
mat-sidenav-content {
  height: 100vh;
  background-color: #f9f9f9;
  margin: 0;
}

mat-sidenav {
  background-color: #4B1F0E;
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 100%;

}

mat-card {
  overflow: auto;
}

.dashboardcontent {
  padding: 35px;
}

.sidenavbar {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


.button {
  width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  flex-direction: row;
}

.button mat-icon {
  font-size: 22px;
}

.selected {
  background-color: #794028;
  color: #ffffff;
}

.user-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

/* END OF SIDENAV AND TOOLBAR CODE */


/* INSERT YOUR NEW CODE HERE  */

.container{
  height: 100vh;
  width: 100%;
  display: grid;
  /* background-color: red; */
}

.logo-container{
  height: 50vh;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}
.tealogo{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.aboutus-container{
  height: 50vh;
  /* background-color: yellow;  */

  width: 100%;
  /* border-top: 1px solid rgb(151, 151, 151); */
}

.aboutus-title{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 5px;
}

.aboutus-content{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  padding-top: 5px;
}
.aboutus-content2{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  padding-top: 5px;
}
.aboutus-content p{
  text-indent: 50px;
  line-height: 1.8;
  word-spacing: 8px;
}

.footer {
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center;
}


@media (max-width:1024px) {
  .container{
    width: 100%;
    height: 100%;
    background-color: red;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .aboutus-content{
    width: 90%;
    background-color: rgb(124, 124, 124);
    display: grid;
    align-items: center;
    justify-content: center;
  }
}