

<mat-sidenav-container autosize>

    <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <img class="user-profile" src="./assets/tealogopng.png" style="  -webkit-filter: invert(100%);
        filter: invert(100%);">
      <br>
      <mat-divider [vertical]="false"></mat-divider>
  
      <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->
  
      <!-- ADMIN BUTTONS -->
  
      <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
        <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
      </button>
      <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
        <mat-icon>space_dashboard</mat-icon>&nbsp; Home
      </button>
      <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
        <mat-icon>add_circle</mat-icon>&nbsp; Add Product
      </button>
      <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Order
      </button>
      <button mat-button class="button" routerLink="/category" *ngIf ="user_role == '0'">
        <mat-icon>category</mat-icon>&nbsp; Category
      </button>
  
      <!-- USER BUTTONS -->
  
      <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/snacks" routerLinkActive="selected">
        <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
      </button>
      <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
        <mat-icon>shopping_cart</mat-icon>&nbsp; Cart
      </button>
      <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
        <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
      </button>
      <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
        <mat-icon>account_box</mat-icon>&nbsp; Profile
      </button>
      <button mat-button class="button" routerLink="/aboutus"  *ngIf ="user_role == '1'" routerLinkActive="selected">
        <mat-icon>information</mat-icon>&nbsp; About Us
      </button>
      <button mat-button class="button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
      </button>
  
  
  
    </mat-sidenav>
    <!-- NAVBAR -->
    <div class="navbar">
      <mat-toolbar class="toolbar">
        <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
          aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
          <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
          <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
        </button>
        <h1 style="color: #424242; font-size: 16px;">About Us</h1>
  
        <span class="example-spacer"></span>
  
      </mat-toolbar>
  
      <!-- END OF SIDENAV AND TOOLBAR CODE  -->
  
  

      
      <!-- THIS IS YOUR CONTENT CONTAINER -->

      <div class="container">
        <div class="home-container">
          <div class="menu">
              <h1>ABOUT US</h1>
      
              
          </div>
      </div>
        <div class="two-container">
          <div class="first">
              <img class="tealogo" src="./assets/tealogopng.png" alt="">
          </div>

          <div class="second">
            <div class="first-content">
              <p>Teabob Online Food Ordering System is the fast and easy way to order a variety of food products available
                from the food store, Teabob. From Different flavors of refreshing milk teas, to delicious hearty foods like
                shawarma and nachos, Teabob Online Food Ordering System is a convenient way to order food in a single click. 
                From a humble food store, Teabob has now come online and is ready to take your order!</p>
            </div>

            

            <div class="second-content2">
              <div class="visit">
                <h1>VISIT US </h1>
              </div>
              
              <div class="icons">
                <p><a href="https://www.facebook.com/teabobmilktea"><mat-icon class="icon1">facebook</mat-icon></a></p>
                <p><a href="https://goo.gl/maps/a1NkCfMy1zpHpdJS7"><mat-icon class="icon2">location_on</mat-icon></a></p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
            
    </div>
  </mat-sidenav-container>
  


