<app-navbar></app-navbar>

    

<div class="container">
        <table>
            <tr>
              <th>Category Name </th>
              <th>Active </th>
              <th>Featured</th>
              <th>Action</th>
            </tr>
            <tr >
              <td>sample</td>
              <td>sample</td>
              <td>sample</td>
                <td width="200px">
                    <button mat-raised-button color="primary">View</button>
                    <button mat-raised-button color="warn">Delete</button>
                </td>
            </tr>
        
          </table>

        </div>