<!-- <app-navbar></app-navbar> -->


<mat-sidenav-container autosize>

  <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <img class="user-profile" src="/assets/tealogopng.png" style="  -webkit-filter: invert(100%);
      filter: invert(100%);">
    <br>
    <mat-divider [vertical]="false"></mat-divider>

    <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->

    <!-- ADMIN BUTTONS -->

    <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
      <mat-icon>add_circle</mat-icon>&nbsp; Add Product
    </button>
    <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Product
    </button>
    <button mat-button class="button" routerLink="/manage-addons" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage AddOns
    </button>
    <button mat-button class="button" routerLink="/history" *ngIf ="user_role == '0'">
      <mat-icon>history</mat-icon>&nbsp; History
    </button>
    <!-- <button mat-button class="button" routerLink="/category" *ngIf ="user_role == '0'">
      <mat-icon>category</mat-icon>&nbsp; Category
    </button> -->
    <button mat-button class="button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
    </button>

    <!-- USER BUTTONS -->

    <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/home" routerLinkActive="selected">
      <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
    </button>
    <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
      <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
    </button>
    <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
    </button>
    <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
      <mat-icon>account_box</mat-icon>&nbsp; Profile
    </button>



  </mat-sidenav>
  <!-- NAVBAR -->
  <div class="navbar">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
        aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
        <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
        <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
      </button>
      <h1 style="color: #424242; font-size: 16px;">Products</h1>

      <span class="example-spacer"></span>

    </mat-toolbar>

    <!-- END OF SIDENAV AND TOOLBAR CODE  -->


    <!-- THIS IS YOUR CONTENT CONTAINER -->
    <div class="container">
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-4">Name</div>
          <div class="col col-4">Price</div>
          <div class="col col-4">Image</div>
          <div class="col col-4">Featured</div>
          <div class="col col-4">Active</div>
          <div class="col col-4">Action</div>
        </li>
        <li class="table-row" *ngFor = "let adminfood of adminfood">
          <div class="col col-4" data-label="Name">{{adminfood.food_name}}</div>
          <div class="col col-2" data-label="Price">{{adminfood.food_price}}</div>
          <div class="col col-3" data-label="Image">
            <img src="{{adminfood.food_image_name}}" alt="" class="image-file">
          </div>
          <div class="col col-4" data-label="Featured">{{adminfood.food_featured}}</div>
          <div class="col col-4" data-label="Active">{{adminfood.food_active}}</div>
          <div class="col col-4" data-label="Action">
            <button mat-raised-button color="primary" (click)="openCorBreakDown(adminfood)">View</button>
              <button class="card-order-action" mat-stroked-button color="warn" (click)="delProd(adminfood.food_id)">Delete</button>
          </div>
        </li>
      </ul>
<!-- 
  <table>
      <tr>
        <th>Name </th>
        <th>Price </th>
        <th>Image</th>
        <th>Featured</th>
         <th>Active</th>
        <th>Action</th>
      </tr>
      <tr *ngFor = "let adminfood of adminfood">
        <td>{{adminfood.food_name}}</td>
        <td>{{adminfood.food_price}}</td>
        <td><img src="{{adminfood.food_image_name}}" alt="" class="image-file"></td>
        <td>{{adminfood.food_featured}}</td>
         <td>{{adminfood.food_active}}</td>
          <td width="200px">
              <button mat-raised-button color="primary" (click)="openCorBreakDown(adminfood)">View</button>
              <button class="card-order-action" mat-stroked-button color="warn" (click)="delProd(adminfood.food_id)">Delete</button>
          </td>
      </tr>
  
    </table> --> 


    </div>
  </div>
</mat-sidenav-container>

    
