

    

<div class="register-container">
    <div class="register-title">Admin Registration</div>
    <div class="user-details">
    <div class="input-box">
        <span class="details">First Name</span>
        <input type="text" placeholder="First Name" [(ngModel)]="user_name">
    </div>
    <div class="input-box">
        <span class="details">Last Name</span>
        <input type="text" placeholder="Last Name" [(ngModel)]="user_lname">
    </div>
    <div class="input-box">
        <span class="details">Email Address</span>
        <input type="email" placeholder="Email Address" [(ngModel)]="user_uname">
    </div>
    <div class="input-box">
        <span class="details">Contact no.</span>
        <input type="number" class="input-number"  placeholder="eg.09*********" [(ngModel)]="user_contact" 
            oninput="javascript: 
                if (this.value.length > this.maxLength)
                    this.value = this.value.slice(0, this.maxLength);"
                        maxlength = "11">
    </div>
    <div class="input-box">
        <span class="details">Address</span>
        <input type="text" placeholder="Address" [(ngModel)]="user_address">
    </div>
    <div class="input-box">
        <span class="details">Password</span>
        <input [type]="show_button ? 'text' : 'password'" placeholder="Password" [(ngModel)]="user_pword">
    </div>
    <div class="input-box">
        <span class="details">Confirm Password</span>
        <input [type]="show_button ? 'text' : 'password'" placeholder="Confirm Password" [(ngModel)]="user_Confpword">
        
    </div>
    <div class="showpass">
               
        <input type="checkbox" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" name="showpassword" (click)="showPassword()">
        <label for="showpassword"> Show Password</label>
    </div>
</div>
    <button mat-raised-button class="button" (click)="regUser()"
    [disabled]="!user_name|| !user_uname || !user_lname || !user_contact || !user_address || !user_pword || !user_Confpword"
    title="Fill up the Form">Register</button>

</div>