.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.status-container{
    background: #fff;
    padding-left: 25px 30px;
    border-radius: 5px;
    width: 100%;
    

}
.status-container .status-title{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0 0 15px;
}
.status-container .status-title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
    left: 0;
    bottom: 0;

}
.status-container  .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.user-details .input-box{
    width: calc(100% / 2 - 20px);
    padding: 0 15px 0 15px;
    
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
/* animations */
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #7a7a7a;
    
}
.button{
    height: 45px;
    margin: 5px 0;
}
.button {
    height: 50px;
    width: 90%;
    margin-left: 35px;
    outline: none;
    color: #ffffff;
    background: #4B1F0E ;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;

}
.button:hover{
    cursor: pointer;
    background: #efc3a4;
    color:rgb(0, 0, 0);
}
