

      
    <div class="container">

        <div class="status-container">
            <div class="status-title">Add Ons Info</div>
        
            <div class="user-details">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="addon_name"/>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput type="number" [(ngModel)]="addon_price"/>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Stocks</mat-label>
                <input matInput type="number" [(ngModel)]="addon_stocks"/>
              </mat-form-field>

        
            
              <button class="button" (click)="updateAddons()">Update Addons</button>
            <!-- <button (click)="statusModal()" class="button">Change Password</button> -->
        
            
        </div>
        </div>
        </div>
        