<!-- 

    <app-navbar></app-navbar>

    <div class="home-container">
        <div class="menu">
            <h1>TeaBob On the Go <br> <h2> A Good Place to Eat </h2></h1>
            <div class="order-button">
                <button routerLink="/snacks" class="button" >Order Now</button>
            </div>
            
        </div>
    </div> -->

    <mat-sidenav-container autosize>

        <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
          (mouseleave)="mouseleave()">
          <img class="user-profile" src="/assets/tealogopng.png" style="  -webkit-filter: invert(100%);
            filter: invert(100%);">
          <br>
          <mat-divider [vertical]="false"></mat-divider>
      
          <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->
      
          <!-- ADMIN BUTTONS -->
      
          <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
            <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
          </button>
          <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
            <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
          </button>
          <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
            <mat-icon>add_circle</mat-icon>&nbsp; Add Product
          </button>
          <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
            <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Order
          </button>
          <button mat-button class="button" routerLink="/category" *ngIf ="user_role == '0'">
            <mat-icon>category</mat-icon>&nbsp; Category
          </button>
      
          <!-- USER BUTTONS -->
      
          <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/snacks" routerLinkActive="selected">
            <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
          </button>
          <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
            <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
          </button>
          <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
            <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
          </button>
          <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
            <mat-icon>account_box</mat-icon>&nbsp; Profile
          </button>
          <button mat-button class="button" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
          </button>
      
      
      
        </mat-sidenav>
        <!-- NAVBAR -->
        <div class="navbar">
          <mat-toolbar class="toolbar">
            <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
              aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
              <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
              <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
            </button>
            <h1 style="color: #424242; font-size: 16px;">Dashboard</h1>
      
            <span class="example-spacer"></span>
      
          </mat-toolbar>
      
          <!-- END OF SIDENAV AND TOOLBAR CODE  -->
      
      
          <!-- THIS IS YOUR CONTENT CONTAINER -->

                
<div class="container">
    
    
    <div class="product-container">
        <div class="prodcard" *ngFor="let food of foods">
            <div class="image-container">
                <img src="{{food.food_image_name}}" alt="">
            </div>
            
            <div class="info">
                <p>  {{food.food_name}}</p>  
                <p> {{food.food_description}} </p> 
              
                <!-- <button (click)="delProd(food.id);">ded</button>
                <button (click)="addToCart(food)">Add Cart</button> -->
                
            </div>
        </div>
    </div>
    



          </div>
        </div>
      </mat-sidenav-container>
      


