<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="pin" slot="start" color="default"></ion-icon>
        <ion-label><h1>Order Details</h1></ion-label>
      </ion-item>
    </ion-card-header>
    
     <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="location-outline" slot="start" color="default"></ion-icon>
        <ion-label>
          Address:
          <h1>{{user_address}}</h1>
        </ion-label>
      </ion-item>  
      <ion-item lines="none">
        <ion-label>
          <h2>Customer: {{user_name}}</h2>
          <h2>Contact No.: {{user_contact}}</h2>
          <h2>Ordered on: {{date}}</h2>          
        </ion-label>
      </ion-item>  

      <ion-item lines="none">
        <ion-label>
          <h2>Receipt code: {{code}}</h2>
          <h2>Total Amount: <span class="price">{{total_price}}.00</span></h2>
        </ion-label>

      </ion-item>
      <ion-button color="success" fill="clear" size="full">Confirm Delivery</ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>
