<app-navbar></app-navbar>
<body>
    


<!-- <div class="status2-container" *ngFor="let status of status_payload">
    <div class="status2-title">Order Status</div>

    <div class="user-details">
        
    <div class="input-box">
        <span class="details">Status</span>
        <input disabled type="text" placeholder="Pending" *ngIf = 'status.is_approved == 0'>
        <input disabled type="text" placeholder="Delivered" *ngIf = 'status.is_approved == 1'>
        <button (click)="updateStatus()" class="button">Order Received</button>
    </div>
    
    </div>
    
</div> -->


<div class="order-container">
    <div class="card-container">
        <div class="card-order" *ngFor="let status of status_payload">
            <div class="card-order-info">
                <div class="code">
                    <p>
                        <span>{{status.code}}</span>
                        <span>{{status.date }} </span>
                    </p>
                </div>
                <!-- <div class="logos">
                    <span>
                        <img src="../../../assets/tealogopng.png" alt="">
                    </span>
                </div>  -->

                
            </div>
            <div class="card-order-content">
                <div class="image"></div>
                <div class="p-content">
                    
                    
                    <!-- <span class="main-food">{{status.prod_name}}</span>
                    <br>


                    <span class="addons" *ngIf="status.add_pearl == '10'"> Pearl</span>
                    <span class="addons" *ngIf="status.add_cpuff == '10'"> Cream Puff</span>
                    <span class="addons" *ngIf="status.add_ccheese == '10'"> Cream Cheese</span>
                    <span class="addons" *ngIf="status.add_cookie == '10'"> Cookies</span>
                    <span class="addons" *ngIf="status.add_sauce == '10'"> Extra Sauce </span>
                    <span class="addons" *ngIf="status.add_spicy == '10'"> Spicy </span>
                    
                    <br><br><br><br><br> -->
                    <div class="quant">
                        <span>Quantity <span class="quantity">{{status.food_quantity}}</span></span><br>
                        <span>Total Price:  </span><span class="quantity">{{status.prod_price}}  </span>
                    </div>
                    
                    <div class="butt">
                        <button class="card-order-action" mat-stroked-button color="primary" (click)="openCorBreakDown(status)">View Orders</button>
                        <button class="card-order-action" mat-stroked-button color="primary" (click)="delorder(status.code)">Delete</button>
                    </div>
                        
                </div>
<!--                 
            <div class="card-order-action">

            </div> -->
            </div>
        </div>
    </div>
</div>


</body>