<app-navbar></app-navbar>
<body>
    


<!-- <div class="status2-container" *ngFor="let status of status_payload">
    <div class="status2-title">Order Status</div>

    <div class="user-details">
        
    <div class="input-box">
        <span class="details">Status</span>
        <input disabled type="text" placeholder="Pending" *ngIf = 'status.is_approved == 0'>
        <input disabled type="text" placeholder="Delivered" *ngIf = 'status.is_approved == 1'>
        <button (click)="updateStatus()" class="button">Order Received</button>
    </div>
    
    </div>
    
</div> -->


<div class="order-container">
    <div class="card-container">
        <div class="card-order" *ngFor="let status of status_payload">
            <div class="card-order-info">
                <p>
                    <span>{{status.code}}</span>
                    <span>{{status.date | date }} </span>
                </p>
            </div>
            <div class="card-order-action">
                <button mat-stroked-button color="primary" (click)="openCorBreakDown(status.code)">View Orders</button>
              
            </div>
        </div>
    </div>
</div>


</body>