<app-navbar></app-navbar>
<body>
    

<div class="status-container">
    <div class="status-title">User Profile</div>
<!-- 
    <div class="profile-image">

    </div> -->

    <div class="user-details">
    <div class="input-box">

        <span class="details">Name</span>
        <input disabled type="text" placeholder="Name">
    </div>
    <div class="input-box">
        <span class="details">User Name</span>
        <input disabled type="text" placeholder="User Name">
    </div>
    <div class="input-box">
        <span class="details">Contact no.</span>
        <input disabled type="number" class="input-number" placeholder="eg.09*********">
    </div>
    <div class="input-box">
        <span class="details">Address</span>
        <input disabled type="text" placeholder="Address">
    </div>
    
    <button class="button">Update Profile</button>
    
</div>

</div>


<div class="status2-container">
    <div class="status2-title">Order Status</div>

    <div class="user-details">
        
    <div class="input-box">
        <span class="details">Status</span>
        <input disabled type="text" placeholder="Ex: Approved!">
    </div>
    
    </div>
    
</div>


</body>