

    <app-landing-nav></app-landing-nav>


    <div class="home-container">
        <div class="menu">
            <h1>TeaBob On the Go <br> <h2> A Good Place to Eat </h2></h1>

            
        </div>
    </div>

<div class="container">
    
    
    <div class="product-container">
        <div class="prodcard" *ngFor="let food of foods">
            <div class="image-container">
                <img src="{{food.food_image_name}}" alt="">
            </div>



            <div class="food-name">
              <p class="food-title">  {{food.food_name}}</p>  
            </div>

            <div class="food-det">
              <p class="food-desc"> {{food.food_description}} </p> 
            </div>
            
                
    
        </div>
    </div>
    

</div>

<div class="about-us-container">
    <!-- <div class="about-us-home-container">
      <div class="about-us-menu">
          <h1>ABOUT US</h1>
  
          
      </div>
  </div> -->
    <div class="two-container">
      <div class="first">
          <img class="tealogo" src="./assets/tealogopng.png" alt="">
      </div>

        <div class="second">
          <div class="first-content">
            <p>Teabob Online Food Ordering System is the fast and easy way to order a variety of food products available
              from the food store, Teabob. From Different flavors of refreshing milk teas, to delicious hearty foods like
              shawarma and nachos, Teabob Online Food Ordering System is a convenient way to order food in a single click. 
              From a humble food store, Teabob has now come online and is ready to take your order!</p>
  
              <div class="facebook">
                <div class="first-icon">
                  <mat-icon class="icon1">call</mat-icon><h2>+639663172420</h2>
                  <mat-icon class="icon3">access_time</mat-icon><h1>9:00AM - 6:00PM</h1>
                  <a href="https://www.facebook.com/teabobmilktea"><mat-icon class="icon2" >facebook</mat-icon></a><h2 >Facebook Page</h2>
                </div>
                <div class="second-icon">
                  <a href="https://goo.gl/maps/a1NkCfMy1zpHpdJS7"><mat-icon class="icon2" >location_on</mat-icon></a><h2 >Location</h2>
                </div>
                
                
  
              </div>

        

        <!-- <div class="second-content2">
          <div class="visit">
            <h1>VISIT US </h1>
          </div>
          
          <div class="icons">
            <p>&nbsp;&nbsp;<mat-icon class="icon1">call</mat-icon><br>+639663172420</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class="icon1">access_time</mat-icon><br>10:00 AM - 6:00 PM</p>
            <p>&nbsp;&nbsp;&nbsp;<mat-icon class="icon1">facebook</mat-icon><a href="https://www.facebook.com/teabobmilktea"><br>FACEBOOK PAGE</a></p>
            <p>&nbsp;<mat-icon class="icon2">location_on</mat-icon><a href="https://goo.gl/maps/a1NkCfMy1zpHpdJS7"><br>LOCATION</a></p>
          </div>
        </div> -->

      </div>
    </div>
  </div>
