

    <app-landing-nav></app-landing-nav>

    <div class="home-container">
        <div class="menu">
            <h1>TeaBob On the Go <br> <h2> A Good Place to Eat </h2></h1>

            
        </div>
    </div>

<div class="container">
    
    
    <div class="product-container">
        <div class="prodcard" *ngFor="let food of foods">
            <div class="image-container">
                <img src="{{food.food_image_name}}" alt="">
            </div>
            
            <div class="info">
                <p class="food-title">  {{food.food_name}}</p>  
                <p class="food-desc"> {{food.food_description}} </p> 
              
                
            </div>
        </div>
    </div>
    

</div>


