

    <app-landing-nav></app-landing-nav>

    <div class="home-container">
        <div class="menu">
            <h1>TeaBob On the Go <br> <h2> A Good Place to Eat </h2></h1>
            <div class="order-button">
                <button routerLink="/login" class="button" >Order Now</button>
            </div>
            
        </div>
    </div>

<div class="container">
    
    
    <div class="product-container">
        <div class="prodcard" *ngFor="let food of food">
            <div class="image-container">
                <img src="{{food.image_name}}" alt="">
            </div>
            
            <!-- <div class="info">
                <p>  {{food.title}}</p>  
              <p> {{food.description}} </p> 
              
                <button (click)="delProd(food.id);">ded</button>
                <button (click)="addToCart(food)">Add Cart</button>
                
            </div> -->
        </div>
    </div>
    

</div>


