ion-title{
    color: black;
    font-size: 30px;
    font-weight: 750;
    margin-left: 10%;
    margin-top: 5%;
}

ion-card{
    --background: #b1b1b1;
    width: 80%;
    height: 30%;
    margin: auto;
}
ion-icon{
    margin-left: 10%;
    font-size: 2rem;
}

ion-card-title{
    margin-top: 10%;
    --color: black;
    font-size: 20px;
    font-weight: 600;
}
