<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pizza" slot="start"></ion-icon>
          <ion-label>Snacks</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="beer" slot="start"></ion-icon>
          <ion-label>Drinks</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cart" slot="start"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="analytics" slot="start"></ion-icon>
          <ion-label>status</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
