
<div class="status-container">
    <div class="status-title">Change Password</div>


    <div class="user-details">

            <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        
        maxlength = "8" [(ngModel)]="old_password"/>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        
        maxlength = "8" [(ngModel)]="user_pword"/>
      </mat-form-field>
      

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        
        maxlength = "8" [(ngModel)]="user_newpword"/>
      </mat-form-field>

      <span  class="bounceIn error" *ngIf="minCharacters == true && this.passwordUpdate == true">
        Password minimum characters must be 8.
      </span>

    <button mat-raised-button class="button" (click)="ChangePassword()"
    [disabled]="!old_password || !user_pword ">Save Password</button>
    
</div>

</div>

