
<div class="status-container">
    <div class="status-title">Change Password</div>


    <div class="user-details">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput type="password" [(ngModel)]="old_password"/>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" [(ngModel)]="user_pword"/>
      </mat-form-field>

      <span  class="bounceIn error" *ngIf="minCharacters == true && this.passwordUpdate == true">
        Password minimum characters must be 8.
      </span>

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="password" [(ngModel)]="cnew_pword"/>
      </mat-form-field> -->

    <button mat-raised-button class="button" (click)="ChangePassword()"
    [disabled]="!old_password || !user_pword ">Save Password</button>
    
</div>

</div>

