<app-navbar></app-navbar>


<body>
    

    <div class="container">
        
        <div class="sum-container">
            <div class="total-categ">
    
            </div>
            <div class="total-food">
    
            </div>
            <div class="total-revenue">
                
            </div>
        </div>

        <div class="table-container">
            <div class="title">

                <h1 onclick="elzero()">Orders </h1>
            
              </div>
            
              <table>
            
                <!--header-->
            
                <thead>
            
                  <tr>
            
            
                    <td class="special">
            
                      ID
            
                    </td>
            
                    <td>Order Code</td>
                    <td>Price</td>
                    <td>Date</td>
                    <td>Customer</td>
                    <td>Contact No.</td>
                    <td>Address</td>
                    <td>Status</td>
                    <td>Action</td>
            
                  </tr>
            
                </thead>
            
                <!--body-->
            
                <tbody>
            
                  <!--one-->
            
                  <tr>
            
            
                    <td>1</td>
                    <td>Ahmed</td>
                    <td>120</td>
                    <td>1/4/2022</td>
                    <td>Ahmed</td>
                    <td>Ahmed</td>
                    <td>Ahmed</td>
                    <td>Ahmed</td>
                    <td class="control">
            
                      <div>
            
                        <button class="view">View</button>
            
                      </div>
            
                      <div>
            
                        <button class="delete">Delete</button>
            
                      </div>
            
                    </td>
            
                  </tr>

            

            

            


   
            

            

            
                </tbody>
            
              </table>
        </div>
    </div>



</body>
