

<!-- <app-navbar></app-navbar> -->

<mat-sidenav-container autosize>

  <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <img class="user-profile" src="/assets/tealogopng.png" style="  -webkit-filter: invert(100%);
      filter: invert(100%);">
    <br>
    <mat-divider [vertical]="false"></mat-divider>

    <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->

    <!-- ADMIN BUTTONS -->

    <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
      <mat-icon>add_circle</mat-icon>&nbsp; Add Product
    </button>
    <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Product
    </button>
    <!-- <button mat-button class="button" routerLink="/category" *ngIf ="user_role == '0'">
      <mat-icon>category</mat-icon>&nbsp; Category
    </button> -->

    <button mat-button class="button" routerLink="/manage-addons" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage AddOns
    </button>
    <button mat-button class="button" routerLink="/history" *ngIf ="user_role == '0'">
      <mat-icon>history</mat-icon>&nbsp; History
    </button>
    <button mat-button class="button" routerLink="/manage-driver" *ngIf ="user_role == '0'">
      <mat-icon>motorcycle</mat-icon>&nbsp; Riders
    </button>
    <button mat-button class="button" routerLink="/sales" *ngIf ="user_role == '0'">
      <mat-icon>receipt</mat-icon>&nbsp; Sales Report
    </button>
    <button mat-button class="button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
    </button>

    <!-- USER BUTTONS -->

    <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/home" routerLinkActive="selected">
      <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
    </button>
    <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
      <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
    </button>
    <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
    </button>
    <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
      <mat-icon>account_box</mat-icon>&nbsp; Profile
    </button>



  </mat-sidenav>
  <!-- NAVBAR -->
  <div class="navbar">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
        aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
        <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
        <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
      </button>
      <h1 style="color: #424242; font-size: 16px;">Dashboard</h1>

      <span class="example-spacer"></span>

    </mat-toolbar>

    <!-- END OF SIDENAV AND TOOLBAR CODE  -->


    <!-- THIS IS YOUR CONTENT CONTAINER -->
    <div class="container">

      <div class="dashboard-top">
        <div class="dashboard-card">
          <div class="dashboard-card-left">
            <img src="./assets/product.png" alt="">
          </div>
          <div class="dashboard-card-right">
            <p>
              <span>{{prodCounter}}</span>
              <span>Total Products</span>
            </p>
          </div>
        </div>
        <div class="dashboard-card">
          <div class="dashboard-card-left">
            <img src="./assets/categories.png" alt="">
          </div>
          <div class="dashboard-card-right">
            <p>
              <span>{{categCounter}}</span>
              <span>Total Categories</span>
            </p>
          </div>
        </div>
        <div class="dashboard-card">
          <div class="dashboard-card-left">
            <img src="./assets/group.png" alt="">
          </div>
          <div class="dashboard-card-right">
            <p>
              <span>{{userCounter}}</span>
              <span>Total Users</span>
            </p>
          </div>
        </div>
        <!-- <div class="dashboard-card">
          <div class="dashboard-card-left">
            <img src="./assets/sales.png" alt="">
          </div>
          <div class="dashboard-card-right">
            <p>
            <span>0</span>
              <span>Total Sales</span>
            </p>
          </div>
        </div> -->
      </div>


      <mat-tab-group class="sliding" mat-align-tabs="center">


        <!-- pending datas -->

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>pending</mat-icon>Pending
          </ng-template>  

          <!--pending info -->

          <div class="dashboard-bottom">
          
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-4">Order Code</div>
                <div class="col col-4">Customer</div>
                <div class="col col-4">Contact No.</div>
                <div class="col col-4">Address</div>
                <div class="col col-5">Date</div>
                <div class="col col-5">Price</div>
                
                <!-- <div class="col col-4">Driver</div> -->
                <div class="col col-4">Status</div>
                
                <div class="col col-4">Action</div>
              </li>
              <li class="table-row" *ngFor = "let pending of pending">
                <div class="col col-4" data-label="Order Code">{{pending.code}}</div>
                <div class="col col-4" data-label="Customer">{{pending.user_name}}</div>
                <div class="col col-4" data-label="Contact No">{{pending.user_contact}}</div>
                <div class="col col-4" data-label="Address">{{pending.user_address}}</div>
                <div class="col col-4" data-label="Date">{{pending.date | date:'medium'}}</div>
                <div class="col col-5" data-label="Price">{{pending.total_price}}</div>
                
                <!-- <div class="col col-4" data-label="Driver">{{pending.driver}}</div> -->
                <div class="col col-4" data-label="Status">
                  <span *ngIf ="pending.is_approved == '0'" style="background-color: orange;">Pending</span>
                  <!-- <span *ngIf ="pending.is_approved == '1'" style="background-color: green;">Approved</span>
                  <span *ngIf ="pending.is_approved == '2'" style="background-color: red;">Cancelled</span>
                  <span *ngIf ="pending.is_approved == '3'" style="background-color: yellow;">On Delivery</span>
                  <span *ngIf ="pending.is_approved == '4'" style="background-color: blue;">Delivered</span> -->
  
                </div>
                <div class="col col-4" data-label="Action">
                  <button mat-raised-button color="primary" (click)="ViewandApproved(pending)">View</button>
                  <!-- <button class="card-order-action" mat-stroked-button color="warn" (click)="delorder(pending.code)">Delete</button> -->
                </div>
              </li>
            </ul>
          </div>

        </mat-tab>




        <!-- approved datas -->
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>recommend</mat-icon>&nbsp;Approved
          </ng-template>


          <!-- approved info -->
          <div class="dashboard-bottom">
          
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-4">Order Code</div>
                <div class="col col-4">Customer</div>
                <div class="col col-4">Contact No.</div>
                <div class="col col-4">Address</div>
                <div class="col col-5">Date</div>
                <div class="col col-5">Price</div>
                
                <!-- <div class="col col-4">Driver</div> -->
                <div class="col col-4">Status</div>
                
                <div class="col col-4">Action</div>
              </li>
              <li class="table-row" *ngFor = "let approved of approved">
                <div class="col col-4" data-label="Order Code">{{approved.code}}</div>
                <div class="col col-4" data-label="Customer">{{approved.user_name}}</div>
                <div class="col col-4" data-label="Contact No">{{approved.user_contact}}</div>
                <div class="col col-4" data-label="Address">{{approved.user_address}}</div>
                <div class="col col-4" data-label="Date">{{approved.date | date:'medium'}}</div>
                <div class="col col-5" data-label="Price">{{approved.total_price}}</div>
                
                <!-- <div class="col col-4" data-label="Driver">{{pending.driver}}</div> -->
                <div class="col col-4" data-label="Status">
                  <!-- <span *ngIf ="approved.is_approved == '0'" style="background-color: orange;">Pending</span> -->
                  <span *ngIf ="approved.is_approved == '1'" style="background-color: green;">Approved</span>
                  <!-- <span *ngIf ="pending.is_approved == '2'" style="background-color: red;">Cancelled</span> -->
                  <!-- <span *ngIf ="pending.is_approved == '3'" style="background-color: yellow;">On Delivery</span> -->
                  <!-- <span *ngIf ="pending.is_approved == '4'" style="background-color: blue;">Delivered</span> -->
  
                </div>
                <div class="col col-4" data-label="Action">
                  <button mat-raised-button color="primary" (click)="ViewOrdersOnly(approved)">View</button>
                  <!-- <button class="card-order-action" mat-stroked-button color="warn" (click)="delorder(pending.code)">Delete</button> -->
                </div>
              </li>
            </ul>
          </div>

        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>delivery_dining</mat-icon>&nbsp;On Delivery
          </ng-template>
        
          <!-- on delivery info -->
          <div class="dashboard-bottom">
          
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-4">Order Code</div>
                <div class="col col-4">Customer</div>
                <div class="col col-4">Contact No.</div>
                <div class="col col-4">Address</div>
                <div class="col col-5">Date</div>
                <div class="col col-5">Price</div>
                
                <!-- <div class="col col-4">Driver</div> -->
                <div class="col col-4">Status</div>
                <div class="col col-4">Driver Name</div>
                
                <div class="col col-4">Action</div>
              </li>
              <li class="table-row" *ngFor = "let ondelivery of ondelivery">
                <div class="col col-4" data-label="Order Code">{{ondelivery.code}}</div>
                <div class="col col-4" data-label="Customer">{{ondelivery.user_name}}</div>
                <div class="col col-4" data-label="Contact No">{{ondelivery.user_contact}}</div>
                <div class="col col-4" data-label="Address">{{ondelivery.user_address}}</div>
                <div class="col col-4" data-label="Date">{{ondelivery.date | date:'medium'}}</div>
                <div class="col col-5" data-label="Price">{{ondelivery.total_price}}</div>
                
                <!-- <div class="col col-4" data-label="Driver">{{pending.driver}}</div> -->
                <div class="col col-4" data-label="Status">
                  <!-- <span *ngIf ="approved.is_approved == '0'" style="background-color: orange;">Pending</span> -->
                  <!-- <span *ngIf ="approved.is_approved == '1'" style="background-color: green;">Approved</span> -->
                  <!-- <span *ngIf ="pending.is_approved == '2'" style="background-color: red;">Cancelled</span> -->
                  <span *ngIf ="ondelivery.is_approved == '3'" style="background-color: yellow;">On Delivery</span>
                  <!-- <span *ngIf ="pending.is_approved == '4'" style="background-color: blue;">Delivered</span> -->
  
                </div>
                <div class="col col-5" data-label="Price">{{ondelivery.driver}}</div>
                <div class="col col-4" data-label="Action">
                  <button mat-raised-button color="primary" (click)="ViewOrdersOnly(ondelivery)">View</button>
                  <!-- <button class="card-order-action" mat-stroked-button color="warn" (click)="delorder(pending.code)">Delete</button> -->
                </div>
              </li>
            </ul>
          </div>


        </mat-tab>

        <mat-tab >
          <ng-template mat-tab-label>
            <mat-icon>done_all</mat-icon>&nbsp;Delivered
          </ng-template>


                
          <!-- delivered info -->
          <div class="dashboard-bottom">
          
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-4">Order Code</div>
                <div class="col col-4">Customer</div>
                <div class="col col-4">Contact No.</div>
                <div class="col col-4">Address</div>
                <div class="col col-5">Date</div>
                <div class="col col-5">Price</div>
                
                <!-- <div class="col col-4">Driver</div> -->
                <div class="col col-4">Status</div>
                <div class="col col-4">Driver Name</div>
                
                <div class="col col-4">Action</div>
              </li>
              <li class="table-row" *ngFor = "let delivered of delivered">
                <div class="col col-4" data-label="Order Code">{{delivered.code}}</div>
                <div class="col col-4" data-label="Customer">{{delivered.user_name}}</div>
                <div class="col col-4" data-label="Contact No">{{delivered.user_contact}}</div>
                <div class="col col-4" data-label="Address">{{delivered.user_address}}</div>
                <div class="col col-4" data-label="Date">{{delivered.date | date:'medium'}}</div>
                <div class="col col-5" data-label="Price">{{delivered.total_price}}</div>
                
                <!-- <div class="col col-4" data-label="Driver">{{pending.driver}}</div> -->
                <div class="col col-4" data-label="Status">
                  <!-- <span *ngIf ="approved.is_approved == '0'" style="background-color: orange;">Pending</span> -->
                  <!-- <span *ngIf ="approved.is_approved == '1'" style="background-color: green;">Approved</span> -->
                  <!-- <span *ngIf ="pending.is_approved == '2'" style="background-color: red;">Cancelled</span> -->
                  <!-- <span *ngIf ="ondelivery.is_approved == '3'" style="background-color: yellow;">On Delivery</span> -->
                  <span *ngIf ="delivered.is_approved == '4'" style="background-color: blue;">Delivered</span>
  
                </div>
                <div class="col col-5" data-label="Price">{{delivered.driver}}</div>
                <div class="col col-4" data-label="Action">
                  <button mat-raised-button color="primary" (click)="ViewOrdersOnly(delivered)">View</button>
                  <!-- <button class="card-order-action" mat-stroked-button color="warn" (click)="delorder(pending.code)">Delete</button> -->
                </div>
              </li>
            </ul>
          </div>
        </mat-tab>

      </mat-tab-group>






        
         

    </div>
  </div>
</mat-sidenav-container>


            <!-- <table>
                <tr>
                    <th>Order Code </th>
                    <th>Customer </th>
                    <th>Contact No.</th>
                    <th>Address</th>
                    <th>Date</th>
                    <th>Price </th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor = "let pending of pending">
                  <td>{{pending.code}}</td>
                  <td>{{pending.user_name}}</td>
                  <td>{{pending.user_contact}}</td>
                  <td>{{pending.user_address}}</td>
                  <td>{{pending.date}}</td>
                  <td>{{pending.total_price}}</td>
                  <td *ngIf ="pending.is_approved == '0'" style="background-color: yellow;">Pending</td>
                  <td *ngIf ="pending.is_approved == '1'" style="background-color: green;">Approved</td>
                  <td *ngIf ="pending.is_approved == '2'" style="background-color: red;">Cancelled</td>
                  <td *ngIf ="pending.is_approved == '3'" style="background-color: blue;">On Delivery</td>
                    <td width="200px">
                        <button mat-raised-button color="primary" (click)="openCorBreakDown(pending)">View</button>
                        <button class="card-order-action" mat-stroked-button color="warn" (click)="delorder(pending.code)">Delete</button>
                    </td>
                </tr>
            
              </table> -->
      



