
<div class="status-container">

    <div class="status-title">Comments</div>

    <div class="user-details">

        <div class="left-container">

    <div class="input-box">
        <span class="details">Food Name</span>
        <input type="text" [(ngModel)]="food_name" disabled placeholder="" >

        <div class="image-container">
            <img class="img-card" src="{{food_image_name}}">
        </div>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
            <mat-label>Type your comment here</mat-label>
            <input matInput type="text" [(ngModel)]="com_comments"/>
          </mat-form-field>

            <button class="button" mat-raised-button color="primary" [disabled]="!com_comments" (click)="AddComment()">Comment</button>

            <!-- <input type="text" placeholder="Comments Here" >
            <button>post</button> -->

    </div>
    <br>
    


        </div>

        <div class="right-container">
            <div class="comcard"  *ngFor="let comment of comments">
                <div *ngIf="comments.length != null; else blank">
                    <mat-label class="commentname"  *ngIf="comment.user_role == '1'">{{comment.user_fullname}}</mat-label> 
                <mat-label class="commentname"  *ngIf="comment.user_role == '0'"><b>Admin:</b> {{comment.user_fullname}}</mat-label> 
                <mat-label class="commentdate">{{comment.date | date:'medium'}}</mat-label><br>
                <div class="commentsss">
                    <p>&nbsp;&nbsp;&nbsp;{{comment.com_comment}}</p>
                </div>
                <!-- <input class="inp" type="text"  disabled value="{{comment.com_comment}}"> -->
                </div>
                <ng-template #blank>
                    <span>There still no comments</span>
                </ng-template>
            </div>
       

        </div>
    

</div>
</div>