<div class="status-container">
  <div class="status-title">Order Info</div>

  <div class="user-details">
    <div class="left-container">
      <div class="input-box">
        <span class="details">Food Name</span>
        <input type="text" [(ngModel)]="food_name" disabled placeholder="" />
      </div>
      <br />

      <mat-form-field
            class="example-full-width"
            appearance="outline"
            style="width: 100%; margin-bottom: 60px;">
            <mat-label>Select Size</mat-label>
            <select
              matNativeControl
              id="size"
              (change)="selectChangeHandlerSize($event)"
              [(ngModel)]="item_size" 
              required>
              <ng-container *ngFor="let size of size">
                <option
                  *ngIf="size.size_stocks != '0'"
                  value="{{ size.size_price }} , {{ size.size_name }}, {{ size.size_id }}">
                  {{ size.size_name }}
                </option>
              </ng-container>
            </select>
          </mat-form-field>

      <div class="input-box">
        <span class="details">Quantity</span>
        <input [(ngModel)]="food_qty" disabled class="input-number" min="1" />
        <button
          mat-raised-button
          color="primary"
          class="quan-butt"
          (click)="minusQty()"
        >
          -</button
        ><button
        [disabled]="!item_size"
          mat-raised-button
          color="primary"
          (click)="plusQty()"
          class="quan-butt"
        >
          +
        </button>
      </div>
      <br />

    </div>

    <div class="right-container">
      <div class="price">
        <div class="input-box">
          <span class="details">Price</span>
          <input
            type="number"
            [(ngModel)]="food_price"
            disabled
            class="input-number"
          />
        </div>
      </div>

      <div class="total">
        <div class="variations">


                      <p class="addon">Add Ons</p>
                      <div class="add-ons">

                        <section class="container1" *ngFor="let addon of addon">
                          <mat-checkbox
                            (change)="onChangeDemo($event, addon.addon_name, addon.addon_price)"
                            class="example-margin"
                            [disabled]="isDisabled"
                            value="{{ addon.addon_price }}"
                            >{{ addon.addon_name }}</mat-checkbox>
                        </section>
                      </div>

        </div>
        <div class="input-box">
          <span class="details">Total Price</span>
          <input
            type="number"
            [(ngModel)]="food_total"
            class="input-number"
            disabled
            placeholder=""/>

          <span class="details">Available Stocks</span>
          <input
            type="number"
            [(ngModel)]="food_stocks"
            class="input-number"
            disabled
            placeholder=""/>
        </div>
      </div>
    </div>

    <button mat-raised-button 
      class="button"
      (click)="addToCart()"
      [disabled]="!item_size"
      title="Choose Size First">
      Add to Cart
    </button>

    <button mat-raised-button 
      class="button"
      (click)="CheckoutOneItem()"
      [disabled]="!item_size"
      title="Choose Size First">
      Check Out
    </button>
    
    <!-- <button class="button"(click)="CheckoutOneItem()">Check Out</button> -->

 
  </div>
</div>
