
<div class="status-container">
    <div class="status-title">User Profile</div>


    <div class="user-details">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text"  [(ngModel)]="user_name"/>
          </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text"  [(ngModel)]="user_lname"/>
          </mat-form-field>
<!-- 
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput type="text"  [(ngModel)]="user_uname"/>
      </mat-form-field> -->
      
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Contact No.</mat-label>
        <input matInput type="number"  [(ngModel)]="user_contact"/>
      </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput type="text"  [(ngModel)]="user_address"/>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput type="text" [(ngModel)]="user_pword"/>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="text" [(ngModel)]="new_pword"/>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm New Password</mat-label>
        <input matInput type="text" [(ngModel)]="cnew_pword"/>
      </mat-form-field>
    
    <button mat-raised-button class="button" (click)="updateProfile()"
    [disabled]="!user_name || !user_lname || !user_name || !user_uname || !user_contact || !user_address"
    >Save Profile</button>
    
</div>

</div>

