

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <ion-col size="5" size-sm="6" size-md="2" size-lg="3" size-xl="2">
        <ion-card>
          <img src="assets/shawarma.jpg">
          <ion-card-content>
            <ion-label>
              <p>Shawarma</p>
              <p>60</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
    
  </ion-grid>


  <!-- <div id="container">

    <ion-card id="food">
      <ion-card-content>

        <div style="text-align: center;">
          <img src="assets/shawarma.jpg" style="height: 10%;">
          <p>Overview of Food</p>
        </div> -->

      </ion-content>
