<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
    TeaBob
  </ion-title>
    <ion-buttons slot start="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  


  <div id="container">

    <ion-card id="food">
      <ion-card-content>

        <img src="assets/shawarma.jpg" style="height: 150px;">
        <div style="text-align: center;">
        <ion-label>60</ion-label>
        </div>
        <button ion-button icon-only id="addbutton">
          <ion-icon name="add" id="addicon"></ion-icon>
        </button>

      </ion-card-content>
      </ion-card>

      <ion-card style="background-color: whitesmoke; color: black; width: 40%; float: right; margin-top: -245px;">
        <ion-card-content>
  
          <img src="assets/chocolate.jpg" style="height: 150px;">
          <div style="text-align: center;">
          <ion-label>50</ion-label>
          </div>
          <button ion-button icon-only id="addbutton">
            <ion-icon name="add" id="addicon"></ion-icon>
          </button>
  
        </ion-card-content>
        </ion-card>

        <ion-card id="food">
          <ion-card-content>
    
            <img src="assets/nachos.jpg" style="height: 150px;">
            <div style="text-align: center;">
            <ion-label>55</ion-label>
            </div>
            <button ion-button icon-only id="addbutton">
              <ion-icon name="add" id="addicon"></ion-icon>
            </button>
    
          </ion-card-content>
          </ion-card>

          <ion-card style="background-color: whitesmoke; color: black; width: 40%; float: right; margin-top: -245px;">
            <ion-card-content>
      
              <img src="assets/okinawa.jpg" style="height: 150px;">
              <div style="text-align: center;">
              <ion-label>50</ion-label>
              </div>
              <button ion-button icon-only id="addbutton">
                <ion-icon name="add" id="addicon"></ion-icon>
              </button>
      
            </ion-card-content>
            </ion-card>

      

   </div>

  
</ion-content>
