<!-- <app-navbar></app-navbar>


<mat-card class="prod-card">
  <h1>Add Product</h1>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Name</mat-label>
<input matInput type="text" [(ngModel)]="prod_name"> 
</mat-form-field>
  <br>
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Description</mat-label>
  <input type="text" matInput [(ngModel)]="prod_description">
  <br>
</mat-form-field>

  <mat-form-field appearance="outline" style="width: 90%;">
    <mat-label>Product Category</mat-label>
    <mat-select matNativeControl required name="category" id="category" (change)="selectChangeHandler($event)"
      [(ngModel)]="prod_category">
      <mat-option value="Foods">Foods</mat-option>
      <mat-option value="Drinks">Drinks</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Product Price</mat-label>
  <input matInput type="number" [(ngModel)]="prod_price">
</mat-form-field>
<br>

  <div class="img-container" style="margin-left: 20px;">
    <img class="image-container" [src]="imgSrc" alt="img"
      style="width: 100px; height: 100px; display: none" />
    <input class="input-image" type="file" (change)="onUploadHandler($event)" />
  </div>

  <br><br>
  <button mat-stroked-button color="primary" (click)="addProducts()" class="add-button">Add</button>
  
  </mat-card>

<mat-card class="var-card">


</mat-card>
 -->

<app-navbar></app-navbar>



<div class="container">
  <!-- <form [formGroup] = "addproduct" (ngSubmit) = "onSubmit()" autocomplete="off"> -->
  <div class="prod-container">
    <mat-card class="prod-card">
      <h1>Add Product</h1>

 

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput type="text" [(ngModel)]="food_name" />
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Product Description</mat-label>
        <input type="text" matInput [(ngModel)]="food_description" />
        <br />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 90%">
        <mat-label>Product Category</mat-label>
        <mat-select
          matNativeControl
          required
          name="category"
          id="category"
          (change)="selectChangeHandler($event)"
          [(ngModel)]="food_category"
        >
          <mat-option value="Foods">Foods</mat-option>
          <mat-option value="Drinks">Drinks</mat-option>
        </mat-select>
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Product Price</mat-label>
        <input matInput type="number" [(ngModel)]="food_price" />
      </mat-form-field>
      <br />

      <div class="img-container" style="margin-left: 20px">
        <img
          class="image-container"
          [src]="imgSrc"
          alt="img"
          style="width: 100px; height: 100px; display: none"
        />
        <input  
          class="input-image"
          type="file"
          (change)="onUploadHandler($event)"
        />
      </div>

      <br /><br />
      <button
        mat-stroked-button
        color="primary"
        (click)="addProducts()"
        class="add-button"
      >
        Add 
      </button>
    </mat-card>
  </div>

 
  <div class="var-container">
    <div class="cta">
      <button routerLink="/">Add Variation</button>
    </div>
    <div class="var-card">

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Variation Name</mat-label>
        <input matInput type="text" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number"  />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Stocks</mat-label>
        <input matInput type="number"  />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Size</mat-label>
        <input matInput type="text"  />
      </mat-form-field>

    </div>

    <div class="del-var">
    <button><mat-icon>delete</mat-icon></button>
  </div>

  </div>
  <!-- </form> -->

</div>
