<mat-sidenav-container autosize>

  <mat-sidenav #drawer [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <img class="user-profile" src="/assets/tealogopng.png" style="  -webkit-filter: invert(100%);
      filter: invert(100%);">
    <br>
    <mat-divider [vertical]="false"></mat-divider>

    <!--THIS ARE IS FOR BUTTONS INSIDE YOUR SIDENAV BAR -->

    <!-- ADMIN BUTTONS -->

    <button mat-button class="button" routerLink="/dashboard" *ngIf ="user_role == '0'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" routerLink="/home" *ngIf ="user_role == '1'"  routerLinkActive="selected">
      <mat-icon>space_dashboard</mat-icon>&nbsp; Dashboard
    </button>
    <button mat-button class="button" *ngIf ="user_role == '0'" routerLink="/add-product" routerLinkActive="selected">
      <mat-icon>add_circle</mat-icon>&nbsp; Add Product
    </button>
    <button mat-button class="button" routerLink="/manage-product" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage Product
    </button>
    <button mat-button class="button" routerLink="/manage-addons" *ngIf ="user_role == '0'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Manage AddOns
    </button>
    <button mat-button class="button" routerLink="/history" *ngIf ="user_role == '0'">
      <mat-icon>history</mat-icon>&nbsp; History
    </button>
    <button mat-button class="button" routerLink="/manage-driver" *ngIf ="user_role == '0'">
      <mat-icon>motorcycle</mat-icon>&nbsp; Riders
      
    </button>
    <button mat-button class="button" routerLink="/report" *ngIf ="user_role == '0'">
      <mat-icon>motorcycle</mat-icon>&nbsp; Reports
    </button>
   
    <!-- <button mat-button class="button" routerLink="/category" *ngIf ="user_role == '0'">
      <mat-icon>category</mat-icon>&nbsp; Category
    </button> -->
    <button mat-button class="button" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>&nbsp; Logout
    </button>

    <!-- USER BUTTONS -->

    <button mat-button class="button" *ngIf ="user_role == '1'" routerLink="/home" routerLinkActive="selected">
      <mat-icon>restaurant_menu</mat-icon>&nbsp; Menu
    </button>
    <button mat-button class="button" routerLink="/cart" routerLinkActive="selected" *ngIf ="user_role == '1'" >
      <mat-icon>shopping_cart</mat-icon>&nbsp; Cart ()
    </button>
    <button mat-button class="button" routerLink="/status"  *ngIf ="user_role == '1'">
      <mat-icon>shopping_basket</mat-icon>&nbsp; Order Page
    </button>
    <button mat-button class="button" routerLink="/profile"  *ngIf ="user_role == '1'">
      <mat-icon>account_box</mat-icon>&nbsp; Profile
    </button>

  </mat-sidenav>
  <!-- NAVBAR -->
  <div class="navbar">
    <mat-toolbar class="toolbar">
      <button mat-icon-button class="example-icon" (click)="isExpanded = !isExpanded"
        aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
        <mat-icon style="color: #424242;" *ngIf="!isExpanded">menu</mat-icon>
        <mat-icon style="color: #424242;" *ngIf="isExpanded">menu</mat-icon>
      </button>
      <h1 style="color: #424242; font-size: 16px;">Add-Product</h1>

      <span class="example-spacer"></span>

    </mat-toolbar>

    <!-- END OF SIDENAV AND TOOLBAR CODE  -->


    <!-- THIS IS YOUR CONTENT CONTAINER -->
    <div class="container">
      <!-- <div class="prod-container">
        <mat-card class="prod-card">
          <h1>Add Product</h1>
    
     
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" [(ngModel)]="food_name" />
          </mat-form-field>
          <br />
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Description</mat-label>
            <input type="text" matInput [(ngModel)]="food_description" />
            <br />
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
            <mat-label>Select Role</mat-label>
            <select matNativeControl name="country" id="country" (change)="selectChangeHandler($event)"
              [(ngModel)]="food_category" >
              <option  *ngFor="let category of category" value="{{category.category_id}}">{{category.category_name}}</option>
            </select>
          </mat-form-field>
    
    
          <br />
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Price</mat-label>
            <input matInput type="number" [(ngModel)]="food_price" />
          </mat-form-field>
          <br />
    
          <div class="img-container" style="margin-left: 20px">
            <img
              class="image-container"
              [src]="imgSrc"
              alt="img"
              style="width: 100px; height: 100px; display: none"
            />
            <input  
              class="input-image"
              type="file"
              (change)="onUploadHandler($event)"
            />
          </div>
    
          <br /><br />
          <button
            mat-stroked-button
            color="primary"
            (click)="addProducts()"
            class="add-button"
          >
            Add 
          </button>
        </mat-card>
      </div>
    
     
      <div class="var-container">
        <div class="cta">
          <button routerLink="/">Add Variation</button>
        </div>
        <div class="var-card">
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Variation Name</mat-label>
            <input matInput type="text" />
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number"  />
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Stocks</mat-label>
            <input matInput type="number"  />
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Size</mat-label>
            <input matInput type="text"  />
          </mat-form-field>
    
        </div>
    
        <div class="del-var">
        <button><mat-icon>delete</mat-icon></button>
      </div> -->


      <div class="prod-container">
        <mat-card class="prod-card">
          <h1>Add Product</h1>



          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" [(ngModel)]="food_name" required/>
          </mat-form-field>


          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Description</mat-label>
            <input type="text" matInput [(ngModel)]="food_description" required/>
  
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
            <mat-label>Active</mat-label>
            <select matNativeControl name="active" id="active" (change)="selectChangeHandleractive($event)"
              [(ngModel)]="food_categoryactive" required>
              <option value="Yes">Yes
              </option>
              <option value="No">No
              </option>
            </select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
            <mat-label>Featured</mat-label>
            <select matNativeControl name="featured" id="featured" (change)="selectChangeHandlerfeatured($event)"
              [(ngModel)]="food_categoryfeatured" required>
              <option value="Yes">Yes
              </option>
              <option value="No">No
              </option>
            </select>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
            <mat-label>Select Category</mat-label>
            <select matNativeControl name="category" id="category" (change)="selectChangeHandler($event)"
              [(ngModel)]="food_category" required>
              <option *ngFor="let category of category" value="{{category.category_id}}">{{category.category_name}}
              </option>
            </select>
          </mat-form-field>




          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Price</mat-label>
            <input matInput type="number" [(ngModel)]="food_price" required/>
          </mat-form-field>




          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Product Stocks</mat-label>
            <input matInput type="number" [(ngModel)]="food_stocks" required/>
          </mat-form-field>


          <div class="img-container" style="margin-left: 20px">
            <img class="image-container" [src]="imgSrc" alt="img" style="width: 100px; height: 100px; display: none" />
            <input class="input-image" type="file" (change)="onUploadHandler($event)" required/>
          </div>

<br />
          <button mat-raised-button color="primary" (click)="addProducts()" class="add-button">
            Add
          </button>
        </mat-card>
      </div>

          
     
      <div class="var-container">
        <div class="cta">
          <button mat-raised-button color="primary" (click)="AddOns()">Add Ons</button>
        </div>
        <div class="var-card">
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Add Ons Name</mat-label>
            <input matInput type="text" [(ngModel)]="addon_name" required/>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" [(ngModel)]="addon_price" required/>
          </mat-form-field>
    
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Stocks</mat-label>
            <input matInput type="number" [(ngModel)]="addon_stocks" required/>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline" style="width: 90%;">
            <mat-label>Select Category for Addons</mat-label>
            <select matNativeControl name="category" id="category" (change)="selectChangeHandlerAddon($event)"
              [(ngModel)]="addon_category" required>
              <option *ngFor="let category of category" value="{{category.category_id}}">{{category.category_name}}
              </option>
            </select>
          </mat-form-field>
    
        </div>

        <!-- <button class="delvar"><mat-icon>delete</mat-icon></button> -->
        
 </div>

      
 <div class="var-container">
  <div class="cta">
    <button mat-raised-button color="primary" (click)="AddSize()">Add Size</button>
  </div>
  <div class="var-card">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Size Name</mat-label>
      <input matInput type="text"  [(ngModel)]="size_name" required/>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number"   [(ngModel)]="size_price" required/>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Stocks</mat-label>
      <input matInput type="number"  [(ngModel)]="size_stocks" required/>
    </mat-form-field>

    <!-- <mat-form-field *ngIf = "categval" class="example-full-width" appearance="fill">
      <mat-label>Size</mat-label>
      <input matInput type="text"  [(ngModel)]="var_size" />
    </mat-form-field> -->

  </div>

  
  <!-- <button class="delvar"><mat-icon>delete</mat-icon></button> -->
  
</div>
   


    </div>
  </div>
</mat-sidenav-container>
