<!-- <h1>Register Driver</h1>
<label for="driver-fname">First Name</label>
<input id="driver-fname" type="text"></input> -->


<!-- <form ngNativeValidate (submit)="onSubmit($event)">
    <label for="driver_fname">First name:</label>
    <input type="text" id="fname" name="fname" required><br><br>

    <label for="driver_lname">Last name:</label>
    <input type="text" id="lname" name="lname" required><br><br>
    
    <label for="driver_email">E-mail:</label>
    <input type="email" id="lname" name="lname" required><br><br>

    <label for="driver_password">Password:</label>
    <input type="password" id="lname" name="lname" required><br><br>

    <label for="driver_confirmpassword">Confirm Password:</label>
    <input type="password" id="lname" name="lname" required><br><br>

    <input type="submit" value="Submit">
</form> -->



    <div class="status-container">
        
        <div class="status-title">Driver Profile Registration</div><br>

    
        <div class="user-details">
        <form ngNativeValidate (submit)="onSubmit($event)">
        <div class="input-box">
    
            <span class="details">First Name</span>
            <input type="text" id="fname" name="fname" placeholder="First Name" required>
        </div>
        <div class="input-box">
    
            <span class="details">Last Name</span>
            <input type="text" id="lname" name="lname" placeholder="Last Name"  required>
        </div>
        <!-- <div class="input-box">
    
            <span class="details">Contact Number</span>
            <input type="number" id="driver_contact" name="driver_contact" placeholder="Example: 09*********"  required
                oninput="javascript: 
                    if (this.value.length > this.maxLength)
                        this.value = this.value.slice(0, this.maxLength);"
                            maxlength = "11">
            <input type="number" id="driver_contact" name="driver_contact" placeholder="Example: 09*********"  required>
        </div> -->
        <div class="input-box">
            <span class="details">Email</span>
            <input type="email" id="email" name="email" placeholder="Example: driver@gmail.com"  required>
        </div>
        <div class="input-box">
            <span class="details">Password</span>
            <input type="password" id="pword" name="pword" required>
        </div>
        <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" id="cpword" name="cpword" required>
        </div>
    
        
        <!-- <button mat-raised-button color="primary" class="btn">Add Driver</button> -->
        <input mat-raised-button class="btn" type="submit" value="Submit">
    
    </form>
        </div>
    </div>
 