

      
    <div class="container">

        <div class="status-container">
            <div class="status-title">Size Info</div>
        
            <div class="user-details">

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="size_name"/>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Price</mat-label>
              <input matInput type="number" [(ngModel)]="size_price"/>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Stocks</mat-label>
                <input matInput type="number" [(ngModel)]="size_stocks"/>
              </mat-form-field>

        
            
            <button mat-raised-button class="button" (click)="updateSize()"
            [disabled]="!size_name || !size_price || !size_stocks"
            >Update Size</button>
        
            
        </div>
        </div>
        </div>
        