<app-landing-nav></app-landing-nav>


<body>
    

<div class="register-container">
    <div class="register-title">Registration</div>
    <div class="user-details">
    <div class="input-box">
        <span class="details">First Name</span>
        <input type="text" placeholder="First Name" [(ngModel)]="user_name" id="username">
    </div>
    <div class="input-box">
        <span class="details">Last Name</span>
        <input type="text" placeholder="Last Name" [(ngModel)]="user_lname">
    </div>
    <div class="input-box">
        <span class="details">Email Address</span>
        <input type="text" placeholder="Email Address" [(ngModel)]="user_uname">
    </div>
    <div class="input-box">
        <span class="details">Contact no.</span>
        <input type="number" class="input-number" placeholder="eg.09*********" [(ngModel)]="user_contact">
    </div>
    <div class="input-box">
        <span class="details">Address</span>
        <input type="text" placeholder="Address" [(ngModel)]="user_address">
    </div>
    <div class="input-box">
        <span class="details">Password</span>
        <input  [type]="show_button ? 'text' : 'password'" placeholder="Password" 
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        
        maxlength = "8" [(ngModel)]="user_pword">
    </div>
    
    <div class="input-box">
        <span class="details">Confirm Password</span>
        <input [type]="show_button ? 'text' : 'password'"  placeholder="Confirm Password" [(ngModel)]="user_Confpword" 
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
        
        maxlength = "8"><br>
        <!-- <button type="checkbox" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"></button> -->
    
    </div>
    <div class="showpass">
               
        <input type="checkbox" [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" name="showpassword" (click)="showPassword()">
        <label for="showpassword"> Show Password</label>
    </div>
</div>
    <button  class="button" (click)="regUser()"
    [disabled]="!user_name || !user_lname || !user_uname || !user_contact || 
    !user_address || !user_pword || !user_Confpword" title="Please fill up the form"
    >Register</button>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 </body>
