.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.register-container{
    max-width: 700px;
    background: #fff;
    padding-left: 25px 30px;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.register-container .register-title{
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0 0 15px;
}
.register-container .register-title::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;

    left: 0;
    bottom: 0;

}

.register-container  .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
.user-details .input-box{
    width: calc(100% / 2 - 20px);
    padding: 0 15px 0 15px;
    
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
/* animations */
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #7a7a7a;
    
}
.button{
    height: 45px;
    margin: 45px 0;
}
.button {
    height: 50px;
    width: 90%;
    margin-left: 35px;
    outline: none;
    color: #Fff;
    background: #4B1F0E ;
    border:none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;

}
.button:hover{
    cursor: pointer;
    background: #efc3a4;
    color:rgb(0, 0, 0);
}
@media (max-width: 584px){
    .register-container{
        margin-top: 50px;
        max-width: 90%;
    }
    .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .register-container  .user-details{
        max-height:450px;
        overflow-y: scroll;

    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
    .button{
        margin-left: 15px;
    }
}

@media (max-width: 1024px){
    .register-container{
        max-height: 80%;
        max-width: 80%;
    }
    .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .register-container  .user-details{
        max-height:450px;
        overflow-y: scroll;

    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
    .button{
        margin-top: 10px;
        margin-left: 15px;
    }
}