<!-- <input  type="text" [(ngModel)]="comment">

<button (click)="addComment()">Send</button>
 -->


<div class="overall">

    <!-- <div class="container" *ngFor="let food of foods">
        <div class="image-container">

            <label for="">Image</label>

        </div>
        
        <div class="product-container"  >
            <label for="">Food Name: {{food.food_name}}</label>
            <br><br>
            <label for="">Description: {{food.food_description}} </label>
            <br><br>
            <label for="">Price: {{food.food_price}}</label>
            <br>

        </div>


    </div> -->
   <div class="container" >
        <div class="image-container">

            <label for="">Image</label>

        </div>
        
        <div class="product-container"  >
            <label for="">Food Name: </label>
            <br><br>
            <label for="">Description:  </label>
            <br><br>
            <label for="">Price: </label>
            <br>

        </div>


    </div>
    



    <div class="second-container">
    
        <div class="comments">


        </div>

        <div class="comment-input">
            <div class="text">
                <textarea name="" id="" cols="30" rows="10"></textarea>

            </div>

            <div class="send-button">
                <button class="button">Send</button>

            </div>
        </div>
    
    </div>

</div>
