

    <app-navbar></app-navbar>

   
    <div class="dib">
        <h1>Foods</h1>

        <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select>
            <mat-option value="one">Snacks</mat-option>
            <mat-option value="two">Drinks</mat-option>
        </mat-select>
    </mat-form-field>   
    
    </div>
    <div class="container">
        
        
        <div class="product-container">
            <div class="prodcard" *ngFor="let food of food">
                <div class="image-container">
                    <img src="{{food.image_name}}" alt="">
                </div>
                <div class="info">
                
                    <p>₱  {{food.price}}</p>  
                    <p>  {{food.title}}</p>  
                  <p> {{food.description}} </p> 
                  
                    <button (click)="addToCart(food)">Add Cart</button>
                    <button (click)="snacksModal()" >Make Order</button>
                    
                </div>
            </div>
        </div>
        
    
    </div>
    
    
    