@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.toolbar {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
}

body {
  overflow: hidden;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #404040;
}



mat-sidenav-container,
mat-sidenav-content {
  height: 100%;
  background-color: #f9f9f9;
}

mat-sidenav {
  background-color: #4B1F0E;
  color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
  width: 200px;
  height: 100%;

}

mat-card {
  overflow: auto;
}

.dashboardcontent {
  padding: 35px;
}

.sidenavbar {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


.button {
  width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 7px;
  flex-direction: row;
}

.button mat-icon {
  font-size: 22px;
}

.selected {
  background-color: #794028;
  color: #ffffff;
}

.user-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

/* END OF SIDENAV AND TOOLBAR CODE */


/* INSERT YOUR NEW CODE HERE  */

  

@media only screen and (max-width:480px) {
  mat-sidenav {
    width: 200px;
    border-right: none;
  }

  /* h1 {
    display: none;
  } */

  #calendar {
    font-size: 12px;
  }

  .calen {
    width: 10px;
    height: 10px;
  }

  .user-container {
    justify-content: center;
}

/* .container {
    margin-top: 100px;
} */

.container-title-left {
    width: 100%;
}

.user-card {
    width: 320px;
}

.top {
    width: 320px;
}

/* .toolbar {
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  } */

}

@media only screen and (min-width: 481px) and (max-width:768px) {
    mat-sidenav {
        width: 200px;
        border-right: none;
      }
/*     
      h1 {
        display: none;
      } */
    
      #calendar {
        font-size: 12px;
      }
    
      .calen {
        width: 10px;
        height: 10px;
      }
    
      .user-container {
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .container {
        margin-top: 100px;
    }
    
    .container-title-left {
        width: 100%;
    }
    
    .user-card {
        width: 350px;
    }
    
    .top {
        width: 350px;
    }
    
    .toolbar {
        background-color: #f9f9f9;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: fixed;
        position: -webkit-sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
      }
}   





  .container{
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;

  }
  .dib {
    margin-top: 100px;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .category__container{
    display: flex;
    justify-content: center;
  }
  .dib h1 {
      font-size: 40px;
      padding:  20px 0;
      letter-spacing: 5px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .product-container{
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

  }
  .product-container > div{
      margin: 10px;
  }
  .prodcard{
      width: 250px;
      height: auto;
      background-color: #f9f9f9;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  button:hover{
    cursor: pointer;
    background: #efc3a4;
    color:rgb(0, 0, 0);
  }
  .button-make {
    border: none;
    outline: 0;
    padding: 12px;
    color: #Fff;
    background: #4B1F0E ;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .prodcard:hover{
    -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  .image-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img{
      max-width: 95%;
      max-height: 95%;
      border-radius: 5px;
  }
  .img-card{
    height: 200px;
    }
  .info{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .info p{
    padding-left: 8px;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }


@media (max-width:600px) {

    .product-container,  .category__container{
      flex-direction: column;
      align-items: center;
      
      
    }


}

@media (max-width:1023px) {

  .product-container,  .category__container{
      flex-direction: column;
      align-items: center;
  }
  .container{
      height: auto;
  }


}