
<div class="status-container">

    <div class="status-title">Order Info</div>
<!-- 
    <div class="profile-image">

    </div> -->

    <div class="user-details">

        <div class="left-container">

    <!-- <div class="input-box">
        <span class="details">Quantity</span> 
        <input [(ngModel)]="food_qty" disabled class="input-number" min="1">
        <button class="quan-butt" (click)="minusQty()">-</button>
        <button (click)="plusQty()" class="quan-butt">+</button>
    </div> -->

            <div class="input-box">
                <span class="details">Quantity</span> 
                <input [(ngModel)]="food_qty" disabled class="input-number" min="1">
                <button mat-raised-button color="primary" class="quan-butt" (click)="minusQty()">-</button>
                <button mat-raised-button color="primary" (click)="plusQty()" class="quan-butt">+</button>
            </div>  
            <br>
            <p class="addon">Toppings </p>
       
            <div class="add-ons">
               
                <!-- <section  class="container1" *ngFor="let addon of addon">     
                    <mat-checkbox class="example-margin" *ngIf="addon.addon_stocks != '0'" 
                     value="{{addon.addon_price}}">{{addon.addon_name}}</mat-checkbox>
                  </section> -->

                  <section  class="container1" *ngFor="let addon of addon">
                    <mat-checkbox (change)="onChangeDemo($event, addon.addon_name, addon.addon_price)" class="example-margin" *ngIf="addon.addon_stocks != '0'" 
                     value="{{addon.addon_price}}">{{addon.addon_name}}</mat-checkbox>
                  </section>

                </div>
        </div>

        <div class="right-container">
            <div class="price">
            <div class="input-box">
                <span class="details" >Price</span>
                <input type="number" [(ngModel)]="food_price" disabled class="input-number">
            </div> 
        </div>
        <br>
        <div class="total">
            <div class="input-box">
                <span class="details">Total Price</span>
                <input  type="number" [(ngModel)]="food_total" class="input-number" disabled placeholder="">
                
                <span class="details">Available Stocks</span>
                <input type="number" [(ngModel)]="food_stocks" class="input-number" disabled placeholder="">
            </div>
        </div>
        </div>
    

    

    
    

    
    <!-- <div class="input-box1">
        
        <section  class="container1" *ngFor="let addon of addon">
            <mat-checkbox (change)="onChangeDemo($event, addon.addon_name)" class="example-margin" *ngIf="addon.addon_stocks != '0'" 
             value="{{addon.addon_price}}">{{addon.addon_name}}</mat-checkbox>
          </section> -->

    
    
    
        <!-- <label class="container1">Extra Sauce (₱10)
            <input #addExtraCheckBox
            type="checkbox" 
            [checked]="saveExtras" 
            (change)="addExtra(addExtraCheckBox.checked)" />
        <span class="checkmark1"></span>
    </label>
        <label class="container1">Spicy (free)
            <input #addSpicyCheckBox
            type="checkbox" 
            [checked]="saveSpice" 
            (change)="addSpicy(addSpicyCheckBox.checked)" />
        <span class="checkmark1"></span>
      </label> -->
    <button class="button"(click)="addToCart()">Add to Cart</button>
<!-- </div> -->

</div>