<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Teabob - Driver</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="driver_email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="driver_password" type="password"></ion-input>
        </ion-item>
     
        <ion-button color="success" style="margin-top: 1rem;" size="full" (click)="loginDriver()">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
