<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="status-container">
    <div class="status-title">Change Password</div>
    <br><br>


    <div class="user-details">
    <div class="input-box">

        <span class="details">Current Password</span>
        <input matInput type="password" [(ngModel)]="old_password"/>
    </div>
    <div class="input-box">
        <span class="details">New Password</span>
        <input matInput type="password" [(ngModel)]="driver_password"/>
    </div>
    <div class="input-box">
        <span class="details">Confirm New Password</span>
        <input matInput type="password" [(ngModel)]="driver_Cnewpassword"/>
    </div>

    <span  class="bounceIn error" *ngIf="minCharacters == true && this.passwordUpdate == true">
      Password minimum characters must be 8.
    </span>

    <br><br><br>
    <ion-button color="success" fill="clear" class="btn" (click)="ChangePassDriver()"
    [disabled]="!old_password || !driver_password"
    >Change Password</ion-button>
    
</div>
</div>
</ion-content>
