.logo{
    border-radius:50%!important;
    float: left;
    height: 8%;
    width: 8%;
}
ion-title {
    margin-top: 4%;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
}
ion-toolbar{
    --background: #b1b1b1;
    --color: black
}